 <!-- Required meta tags -->
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no user-scalable=no" />

 <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="../styles/bootstrap-css/bootstrap.css" />

 <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

 <link rel="stylesheet" href="../styles/custom-css/employer-dash-settings.css" />

 <link href="../styles/custom-css/employer-top-nav.css" rel="stylesheet" />

 <link href="../styles/custom-css/side-nav.css" rel="stylesheet" />

 <link rel="shortcut icon" href="../img/favicon.svg" type="image/x-icon" />

 <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
   rel="stylesheet" />

 <title><%= pageTitle %>></title>