<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= pageTitle %></title>
<!-- Bootstrap core CSS -->
<!-- Custom styles for this template -->
<link href="../styles/bootstrap-css/bootstrap.css" rel="stylesheet">

<link href="../styles/custom-css/side-nav.css" rel="stylesheet" />
<link href="../styles/custom-css/employer-top-nav.css" rel="stylesheet" />
<link href="../styles/custom-css/modal.css" rel="stylesheet">
<link href="../styles/custom-css/employeeProfile.css" rel="stylesheet">
<link rel="shortcut icon" href="../img/favicon.svg" type="image/x-icon">
<!-- <link href="css/font-awesome.css" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/fc9346f24c.js" crossorigin="anonymous"></script>