<meta charset="UTF-8">
<title>TalentPool | <%= pageName %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="img/favicon.svg" type="image/x-icon">
<link href="/styles/bootstrap-css/bootstrap.css" rel="stylesheet" />
<link href="/styles/custom-css/side-nav.css" rel="stylesheet" />
<link href="/styles/custom-css/admin-dash.css" rel="stylesheet" />
<link href="/styles/custom-css/top-nav-admin.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
