<!-- Bootstrap CSS -->

<<<<<<< HEAD
<link rel="stylesheet" type="css" href="styles/custom-css/Employer Dashboard.css">

<link href="styles/custom-css/employer-top-nav.css" type="css" rel="stylesheet" />

<link href="styles/custom-css/side-nav.css" type="css" rel="stylesheet" />
=======
<link rel="stylesheet" href="/../styles/custom-css/Employer Dashboard.css" />

<link href="/../styles/custom-css/employer-top-nav.css" rel="stylesheet" />

<link href="/../styles/custom-css/side-nav.css" rel="stylesheet" />
>>>>>>> 640e8864baad5e53b9b9cc5130842fd834c08ba4

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, user-scalable=no" />

<title>TalentPool | <%= pageName %></title>
<<<<<<< HEAD
<link rel="shortcut icon" href="img/favicon.svg">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="css" href="styles/bootstrap-css/bootstrap.css">

<!-- Employer sign up additional styles -->
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<!-- <link rel="shortcut icon" href="../img/favicon.svg" type="image/x-icon"> -->
=======
<link rel="shortcut icon" href="/img/favicon.svg" />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link rel="stylesheet" href="/styles/bootstrap-css/bootstrap.css" />

<!-- Employer sign up additional styles -->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
<!-- <link rel="shortcut icon" href="../img/favicon.svg" type="image/x-icon"> -->
>>>>>>> 640e8864baad5e53b9b9cc5130842fd834c08ba4
