<div class="sidenav" id="sideNav">
    <div class="logo__wrapper">
        <div class="d-flex justify-content-center align-items-center logo__image">
            <a href="/"><img src="../img/navLogo.svg" alt="" /> </a>
        </div>
    </div>
    ​
    <ul class="sidenav_links d-sm">
        <li><a href="/employer-dashboard">Dashboard</a></li>
        <li><a href="/employer-profile">Profile</a></li>
        <li><a href="#">Messages</a></li>
        <li><a href="/employer-employees-gallery">Employees</a></li>
        <li><a href="/employer-add-team">Add a team</a></li>
        <li><a href="/employer-dash-support" class="active">Support</a></li>
        <li><a href="/employer-dashboard-settings">Settings</a></li>
      </ul>
</div>