<!-- Bootstrap CSS -->

<link rel="stylesheet" href="../styles/custom-css/Employer Dashboard.css">

<link href="../styles/custom-css/employer-top-nav.css" rel="stylesheet" />

<link href="../styles/custom-css/side-nav.css" rel="stylesheet" />


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no">

<title>TalentPool | <%= pageName %></title>
<link rel="shortcut icon" href="img/favicon.svg">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="styles/bootstrap-css/bootstrap.css">

<!-- Employer sign up additional styles -->
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<!-- <link rel="shortcut icon" href="../img/favicon.svg" type="image/x-icon"> -->

