
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no">

<title>TalentPool | <%= pageName %></title>
<link rel="shortcut icon" href="/img/favicon.svg">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/styles/bootstrap-css/bootstrap.css">
<link rel="stylesheet" href="/styles/custom-css/aboutUs.css">
<link rel="stylesheet" href="/styles/custom-css/main.css">
<link rel="stylesheet" href="/styles/custom-css/header.css">
<link rel="stylesheet" href="/styles/custom-css/mini-footer.css">
<link rel="stylesheet" href="/styles/custom-css/footer.css">


