<header class="header">
	<div class="container-fluid">
		<div class="container nav-container">
			<nav class="navbar navbar-expand-lg navbar-light py-1">
				<a class="navbar-brand" href="/">
					<img src="img/talentpool header logo.svg" alt="talent pool logo">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item px-3 active">
							<a class="nav-link nav-link-black" href="/">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item px-3">
							<a class="nav-link nav-link-black" href="/aboutUs">About Us</a>
						</li>
						<li class="nav-item px-3">
							<a class="nav-link nav-link-black" href="/directory">Directories</a>
						</li>
						<li class="nav-item px-3">
							<a class="nav-link nav-link-black" href="/faq">FAQ</a>
						</li>
						<li class="nav-item px-3">
							<a class="nav-link nav-link-black" href="/contactUs">Contact Us</a>
						</li>
						<!-- <li class="nav-item px-3 my-2 my-lg-0">
                                                    <a class="nav-link btn px-3 btn-sign btn-sign-in py-1" href="./src/employer-sign-in.html">Sign in</a>
                                            </li> -->
						<li class="nav-item px-3 dropdown mb-2 mb-lg-0">
							<button class="nav-link btn btn-sign btn-sign-in px-3 py-1 dropdown-toggle" type="button"
								id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								Sign In
							</button>
							<div class="dropdown-menu dropdown-menu-right signin__dropdown"
								aria-labelledby="dropdownMenuButton">
								<p>Sign in as: </p>
								<a class="dropdown-item" href="/employer-sign-in">Employer</a>
								<a class="dropdown-item" href="/employee-sign-in">Talent</a>
							</div>
						</li>
						<li class="nav-item px-3 dropdown">
							<button class="nav-link btn btn-sign btn-sign-up px-3 py-1 dropdown-toggle" type="button"
								id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								Sign Up
							</button>
							<div class="dropdown-menu dropdown-menu-right signup__dropdown"
								aria-labelledby="dropdownMenuButton">
								<p>Sign up as: </p>
								<a class="dropdown-item" href="/employer-sign-up">Employer</a>
								<a class="dropdown-item" href="/employee-sign-up">Talent</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</header>