
<section class="mini-footer py-5 "> 
    <div class="container">
       <p class="py-1">
          Talent Pool is a platform that connects employers to employees, 
          as the name implies "a pool of talents" . It seeks to streamline recruitment processes for companies. 
          Talent Pool allows companies to find the perfect match for their job roles
       </p>

       <div class="row d-flex justify-content">
          <a href="/employer-sign-up" class="text-white text-decoration-none"><button
             class="btn hire-btn text-white px-4 py-2 my-2 font-weight-normal">Hire Top Talent</button>
          </a>

          <a href="/employee-sign-up" class="text-white text-decoration-none"><button
             class="btn hire-btn text-white px-4 py-2 my-2 font-weight-normal">Join Talentpool</button>
          </a>
       </div>
    </div>
 </section>