body {
  background-color: #f8f8f8;
}

#main-content {
  padding-left: 234px;
}

.main-heading {
  font-size: 1.5rem;
}

.chat-top,
.chat {
  max-width: 1011px;
}

.chat {
  background-color: #fff;
  min-height: 570px;
}

.top-tab {
  background-color: #d6d9df;
  padding-left: 20px;
}

#dp {
  width: 48px;
}

.left-side {
  box-shadow: 0px 4px 12px #eaeaea;
}

.chat-scroll {
  position: relative;
  overflow-y: scroll;
}

/* chat section */
.chat-sender.msg {
  position: relative;
  padding: 9px 9px;
  padding-left: 21px;
  background-color: #ecf0f3;
  color: #000;
  box-sizing: border-box;
  max-width: 382.11px;
  border-radius: 10px;
  margin-left: -9px;
}

.chat-sender.msg::before {
  content: "";
  position: absolute;
  top: 0;
  left: -6px;
  border-width: 10px 7px 0 7px;
  border-style: solid;
  border-color: #ecf0f3 transparent;
}

.chatmsg {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  margin-top: 5px;
}

.chat-sender {
  display: inline-block;
  vertical-align: top;
}

.chat-container {
  margin: 5px 10px;
  border-radius: 55px;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.sender {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.respond {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.time,
.day {
  font-size: 12px;
  line-height: 18px;
  color: #797c83;
}

.chat-respond.msg {
  position: relative;
  display: block;
  max-width: 382.11px;
  border-radius: 10px;
  padding: 9px 9px;
  padding-left: 21px;
  background-color: #337ab7;
  color: #fff;
  box-sizing: border-box;
  margin-right: -9px;
  transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
}

.chat-respond.msg::after {
  content: "";
  position: absolute;
  top: 0;
  left: -6px;
  border-width: 10px 7px 0 7px;
  border-style: solid;
  border-color: #337ab7 transparent;
}

.chat-respond {
  display: inline-block;
  vertical-align: top;
}

.flippd {
  width: 100%;
  transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
}

@keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

#type-msg {
  background: #fff;
  border: 1px solid #b5b5b5;
  border-radius: 40px;
  font-size: 14px;
  padding: 0.3rem 12rem 0.3rem 1rem;
  color: #797c83;
  height: 52px;
}

#type-msg:focus {
  outline: none;
}

.dp-img {
  width: 50px;
}
#chat-card {
  box-shadow: 0 0 3px #d6d9df;
  padding: 10px 0;
}

#chat-card:hover {
  border-color: #00aeff;
}
.time-sent {
  font-size: 10px;
}
.chat-content {
  font-size: 14px;
}
