body {
  background-color: #f8f8f8;
}

#main-content {
  padding-left: 234px;
}

.main-heading {
  font-size: 1.5rem;
}

.chat-top,
.chat {
  max-width: 1011px;
}

.chat {
  background-color: #fff;
  height: 705px;
}

.top-tab {
  background-color: #d6d9df;
  padding-left: 20px;
}

#dp {
  width: 48px;
}


.dp-img{
  width: 50px;
}
#chat-card{
  box-shadow: 0 0 3px #d6d9df;
  padding: 10px 0;
}

#chat-card:hover{
  border-color: #00aeff;
}
.time-sent{
  font-size: 10px;
}
.chat-content{
  font-size: 14px;
}