body {
    font-family: 'Poppins', sans-serif;
}

.btn {
    background-color: #084482; 
    border-radius: 5px;
    line-height: 36px;
    font-size: 15px;
    font-weight: 500;
    margin: 20px 0 100px 0;
    padding: 5px 30px;
}

.form-control {
    font-size: 16px;
    line-height: 160%;
    color: #4C5059;
    border: 1px solid #084482;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 25px 0 25px 30px;
}

h4 {
    color: #084482;
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.15px;
    padding-top: 20px;
}

.border-bottom {
    border-top: 1.5px solid #084482;
    width: 85px;
    padding-bottom: 35px;
}

.container-fluid {
    background-color: #ffffff;
}