
body {
  background: #E5E5E5;
  overflow-y: scroll;
}
.sidenav {
  width: 234px;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #084482;
  overflow-x: hidden;
}
.inner-content-settings {
  padding-top: 27px;
  font-size: 16px;
  font-weight: 600;
  color: #333333;
  line-height: 24px;
  margin-bottom: 47px;
}
.col-12.col-xl-10 {
  padding-left: 44px;
}
.bg-light {
  background-color: #E5E5E5 !important;
}
.save-changes {
  height: 100px;
}
.setting-nav {
  min-height: 500px;
}
.setting-tab {
  border: 0;
  border-bottom: 1px solid #007bff;
  background-color: #E5E5E5;
  color: #333333;
  font-weight: 600;
}
.tab-content {
  color: #333333;
  font-size: 16px;
}
.setting-tab.active {
  color: #084482;
  background-color: white;
}
.setting-tab.active:not(:first-child) {
  border-top: 1px solid #007bff;
}
.fa-cog {
  color: #084482;
}
.fa-file-video {
  color: #AD019C;
}
.fa-bell {
  color: #FF3D00;
}
.fa-tty {
  color: #F2A126;
}
.fa-user {
  color: #000000;
}
.fa-headset {
  color: #AD019C;
}
.setting-tab-header h5 {
  border-bottom: 3px solid #007bff;
  color: #007bff;
}
.general-btn {
  font-weight: 600;
}
.general-btn:focus {
  box-shadow: none;
}
.card-body {
  border-left: 5px solid #007bff;
}

@media screen and (max-width: 768px) {
  .col-12.col-xl-10 {
    padding-left: 10px;
    padding: 0 30px;
  }
}

@media screen and (max-width: 765px) {
  .setting-nav {
    border-right: 1px solid #007bff !important;
    border-bottom: 0 !important;
    min-height: auto;
    margin-bottom: 20px;
  }
}
