/* THE BEGINNIG OF EMPLOYER'S DASHBOARD CSS */

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.employers-dashboard-settings-container {
    width: 100%;
    background-color: #F4F4F4;
}
.employers-dashboard-settings-inner {
    padding: 24px;
}.employers-dashboard-settings-inner h5 {
     font-style: normal;
     font-weight: 500;
     font-size: 24px;
 }
.settings-container {
    border-radius: 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.settings-container .settings-actions {
    border-radius: 5px 0 0 5px;
    border: 1px solid #5C95C5;
    border-right: none;
    padding: 0;
}
.settings-container .settings-actions .action {
    padding: 12px 20px;
    border: 1px solid #5C95C5;
    border-right: none;
    width: 100%;
    font-size: 16px;
    color: #333333;
    font-weight: 600;
}
.settings-container .settings-actions .action.active {
    background-color: white;
    border: white;
}


@media screen and (max-width: 991px) {
    .settings-container .settings-actions .action .action-name {
        display: none;
    }
}

.settings-container .contact-us-container {
    background-color: white;
    border-radius: 5px;
    padding: 21px 54px;
    /*margin-left: 3px;*/
}

@media screen and (max-width: 767px) {
    .settings-container .contact-us-container {
        background-color: white;
        border-radius: 5px;
        padding: 21px 14px 21px 54px;
        /*margin-left: 3px;*/
    }
}
@media screen and (max-width: 650px) {
    .settings-container .contact-us-container {
        background-color: white;
        border-radius: 5px;
        padding: 21px 4px 7px 34px;
    }
}
@media screen and (max-width: 450px) {
    .settings-container .contact-us-container {
        background-color: white;
        border-radius: 5px;
        padding: 19px 1px 4px 24px;
    }
}

.settings-container .contact-us-container .title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #084482;
    border-bottom: 2px solid #084482;
    padding: 8px 0;
}
.settings-container .contact-us-container form {
    width: 80%;
    margin: 44px 0;
}
.settings-container .contact-us-container form .contact-us-input {
    width: 85%;
}

@media screen and (max-width: 992px) {
    .settings-container .contact-us-container form .contact-us-input {
        width: 95%;
    }
}
@media screen and (max-width: 767px) {
    .settings-container .contact-us-container form .contact-us-input {
        width: 100%;
    }
}

.settings-container .contact-us-container form .contact-us-input input {
    font-size: 16px;
    padding: 24px 32px;
    margin-top: 22px;
    border: 1px solid #084482;
    border-radius: 5px;
}
.settings-container .contact-us-container form .contact-us-input textarea {
    font-size: 16px;
    color: #084482;
    padding: 12px 32px;
    border: 1px solid #084482;
    border-radius: 5px;
    margin-top: 22px;
}
.settings-container .contact-us-container form .contact-us-input button {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin-top: 28px;
    margin-bottom: 26px;
    background-color: #084482;
    border: 1px solid #084482;
    color: white;
}

@media screen and (max-width: 767px) {
    .settings-container .contact-us-container form .contact-us-input input {
        font-size: 14px;
        padding: 14px 22px;
        margin-bottom: 12px;
    }
    .settings-container .contact-us-container form .contact-us-input textarea {
        font-size: 14px;
        padding: 12px 22px;
        border: 1px solid #084482;
        margin-bottom: 12px;
    }
    .settings-container .contact-us-container form .contact-us-input button {
        font-size: 18px;
        margin-bottom: 16px;
    }
}
@media screen and (max-width: 450px) {
    .settings-container .contact-us-container form .contact-us-input textarea {
        font-size: 14px;
        padding: 8px 18px;
        border: 1px solid #084482;
        margin-bottom: 12px;
    }
    .settings-container .contact-us-container form .contact-us-input button {
        font-size: 16px;
        margin-bottom: 16px;
        padding: 4px 8px;
    }
}
@media screen and (max-width: 335px) {
    .settings-container .contact-us-container form .contact-us-input button {
        font-size: 12px;
        margin-bottom: 16px;
        padding: 4px 6px;
    }
}
