* {
   font-family: 'Poppins', sans-serif;
}

img {
   height: 100%;
}

.progress {
   background-color: #c4c4c4;
   height: 0.325rem;
}

.progress-bar {
   background-color: #337AB7;
}

.text-primary {
   color: #337AB7 !important;
}

.text-muted {
   color: #8F9298 !important;
}
