
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
overflow-x: hidden;
font-family: 'Poppins', sans-serif;
color: #505962;
background: #E5E5E5;
}


/* profile */
.btn {
outline: none !important;
}
.btn-primary {
padding: 3px;
border-radius: 5px;
width: 120px;
height: 31px;
 border: 1px solid #00AEFF;
background: #00AEFF !important;
}

.btn-primary:hover {
/* border: 1px solid #00AEFF; */
background-color: #084482!important;
}

.btn-light, .btn-light:hover {
 border: 1px solid #D6D9DF;
 background: #D6D9DF;
 color: #fff;
border-radius: 5px;
width: 120px;
height: 31px;
 padding: 3px;
 cursor: not-allowed!important;
}

.btn-primary:hover {
background: #00AEFF;
}

.card {
box-shadow: 2px 8px 20px rgba(181, 181, 181, 0.2);
border-radius: 5px;
}

.intern-other {
margin: auto 10%;
}

.intern-other p {
font-size: 14px;
}

img, svg{
cursor: pointer;
}

.section-title {
display: flex;
justify-content: space-between;
}

#skills ul, #socials ul{
list-style: none;
padding-left: 0;
}

#skills ul li, #socials ul li {
border-top: 1px solid #ccc;
padding: 16px 0;
display: flex;
justify-content: space-between;
}

.file-box {
border: 1px solid #ccc;
padding: 8px 10px;
border-radius: 5px;
display: flex;
flex-direction: row-reverse;
}

.modal-dialog .super-label {
font-weight: normal;
font-size: 18px;
}

.modal-title {
font-size: 24px;
font-weight: 500;
}
#error-message {
background: red;
color: #fff;
padding: 10px 0;
text-align: center;
display: none;
}

#success-message {
background: green;
color: #fff;
padding: 10px 0;
text-align: center;
display: none;
}

input, textarea {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #337AB7 !important;
}

#main-section {
width: calc(100% - 234px);
float: right;
}

input[type="file"] {
width: 100%;
}

.upload-section h4 {
font-size: 20px;
}


.form-control {
height: 56px;
}

.btn-lg {
height: 59px;
width: 238px
}

.sidenav {
z-index: 99999;
}

.skills-choice{
margin-top: 40px;
padding-left: 10px;
padding-right: 10px;
}

.tracks{
padding-top: 10px;
}
.save_profile{
margin-top: 76px;
margin-bottom: 72px;
}

/* .noHover{
pointer-events:stroke;
} */


@media (max-width: 600px) {

.upload-section .curriculum {
  margin-bottom: 30px;
}


.top__nav__user {
  display: none;
}

.bio {
  margin-bottom: 30px !important;
}

.hide {
  display: none;
}

.dropdown-menu.show {
transform: translate3d(-100px, 24px, 0px) !important;
}

.top__nav {
  /* display: flex; */
  justify-content: space-between;
}

.intern-other {
  margin: auto 5%;
}

}

@media only screen and (max-width: 991px) {
#main-section {
 width: 100%;
}
.bio {
  margin-bottom: 30px !important;
}

.upload-section .curriculum {
  margin-bottom: 30px;
}

 .top__nav {
  /* display: flex; */
  justify-content: space-between;
}


}
