/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.form-center {
    max-width: 600px;
    margin: 30px auto 80px auto;
}

.form-center form {
    padding: 40px 0;

}

.form-center h1,
p {
    text-align: center;
}

.form-group button {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.form-center h1 {
    font-family: Poppins, 'san-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #084482;
}

.form-center p {
    font-size: 18px;
    font-family: Poppins, 'san-serif';
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
    text-align: center;
    color: #1F2430;
}


.form-group label {
    font-family: Poppins, 'san-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #1F2430;
}

.form-group input,
button {
    height: 56px;
}

input::placeholder {
    color: rgba(178, 178, 178, 0.58);
}

.otp-input::placeholder {
    text-align: center;
}

.no-code h6 {
    padding: 20px 0;
    color: #1F2430;
}

.no-code h6>a {
    text-decoration: none;
    color: #084482;
}

.pass-recovered h1 {
    padding-bottom: 10px;
}

.pass-recovered p {
    padding: 0 20px 30px 40px;
    max-width: 400px;
    margin: 0 auto;
}

.pass-recovered button {
    margin-top: 20px;
}

.error {
    color: red;
    text-align: center;
    font-size: 12px
}

.password-reset-btn {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    background-color: #00AEFF;
    color: #fff;
}

.password-reset-btn:hover {
    background-color: #337AB7;
    color: #fff;
}

@media screen and (max-width:576px) {
    .otp-wrapper {
        flex: 0, 0 16.67%;
        Width: 50px;
        align-self: center;
        margin: 0 auto;
    }
}