@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  line-height: 24px;
}

.admin__dashboard {
  margin-left: 234px;
  background-color: #f4f4f4;
  padding: 128px 48px 29px 33px;
}

.admin__dashboard .dashboard__heading {
  padding-left: 15px;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.admin__dashboard .top__section {
  margin-bottom: 40px;
}


.admin__dashboard .top__section .card-container .top__card {
  border: none;
  border-radius: 20px;
  color: white;
  height: 100%;
}

.admin__dashboard .top__section .card-container .top__card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin__dashboard .top__section .card-container .top__card .card-body .card__text p:first-child {
  text-transform: uppercase;
  font-size: .75rem;
  color: #EAEAEA;
}

.admin__dashboard .top__section .card-container .top__card .card-body .card__text h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.admin__dashboard .top__section .card-container .top__card .card-body .card__text p:last-child {
  font-size: 1rem;
  margin-bottom: 0;
}

.admin__dashboard .top__section .card-container .top__card .card-body .card__text p:last-child span {
  color: #51BC47;
}

.admin__dashboard .top__section .card-container .top__card .card-body .card__img {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.admin__dashboard .top__section .card-container .employees__card {
  background: #042241;
}

.admin__dashboard .top__section .card-container .employers__card {
  background: #06305b;
}

.admin__dashboard .top__section .card-container .profit__card {
  background: #2E6EA5;
}

.admin__dashboard .last__section .statistics__date {
  min-width: 168px;
  outline: none;
  border: 1px solid #B3B3B3;
  border-radius: 5px;
  padding: 7px 22px;
}

.admin__dashboard .last__section .card {
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 24px rgba(172, 172, 172, 0.25);
          box-shadow: 0px 4px 24px rgba(172, 172, 172, 0.25);
}

.admin__dashboard .last__section h3 {
  font-size: 1.5rem;
}

.admin__dashboard .last__section .statistics__info {
  border-bottom: 1px solid #D6D9DF;
}

.admin__dashboard .last__section .statistics__info p,
.admin__dashboard .last__section .statistics__info h4 {
  font-size: 1rem;
}

.admin__dashboard .last__section .export__btn {
  background-color: #084482;
  min-width: 238px;
  margin: 64px 0 102px;
  padding: 1rem 0;
  border: none;
  color: white;
}

.admin__dashboard .last__section .activity__card {
  max-height: 512px;
  overflow: scroll;
  overflow-x: hidden;
}

.admin__dashboard .last__section .activity__card::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
}

.admin__dashboard .last__section .activity__card::-webkit-scrollbar-track {
  -webkit-box-shadow: #FFFFFF;
          box-shadow: #FFFFFF;
  border-radius: 10px;
}

.admin__dashboard .last__section .activity__card::-webkit-scrollbar-thumb {
  background-color: #C4C4C4;
  border-radius: 5px;
}

.admin__dashboard .last__section .activity__card th {
  padding: 0;
  height: 56px;
  width: 56px;
}

.admin__dashboard .last__section .activity__card th img {
  width: 100%;
  border-radius: 10px;
}

.admin__dashboard .last__section .activity__card .name {
  font-size: 1rem;
  font-weight: 500;
  color: #353A45;
}

.admin__dashboard .last__section .activity__card .join {
  font-size: 1rem;
  color: #353A45;
}

.admin__dashboard .last__section .activity__card .time {
  font-size: 1rem;
  color: #ADADAD;
}

@media only screen and (max-width: 991px) {
    .admin__dashboard {
        max-width: 1440px;
        margin-left: 0;
        padding: 128px 48px 29px 33px;
      }
}