main {
    background: #F4F4F4;
    margin: 0;
    padding: 0;
}
.side-nav{
    max-width: 235px;
}
.pen-modif{
    cursor: pointer;
}
.box-shadow{
    box-shadow: 2px 8px 20px rgba(181, 181, 181, 0.2);
    border-radius: 5px;
}
.logo-container{

width: 177px;
height: 100px;
margin-top: 6.5rem;
background: #C4C4C4;
}
.profile-card>h3{
    font-size: 24px;
    line-height: 36px;
    color: #084482;
}
.profile-card>p{
    font-size: 16px;
    line-height: 24px;
    color: #4C5059;
}
.profile-card>hr{
    border: 1px solid #E7EAEC;
}
.profile-card-info{
    font-size: 16px;
    line-height: 24px;
    color: #4C5059;
}
.btn{
    width: 238px;
    height: 59px;
    background: #00AEFF;
    border-radius: 5px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
/* Second column*/

.modal-box {
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 5rem;
    margin-right: 43%;
    
}

.content-wrapper {
    min-width: 900px;
    min-height: 500px;
    background: #FFFFFF;
    box-shadow: 2px 8px 20px rgba(181, 181, 181, 0.2);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 40px;
   
}


.content-wrapper .title-text {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    align-items: center;
    color: #353A45;
}

.content-wrapper .close-btn1 {
    display: none;
}
.content-wrapper .companyNameLabel, .tagLabel, 
.emailLabel, .locationLabel, .industryTypeLabel, .companyLogoLabel {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    color: #1F2430;
    padding: 10px 0;
}

.content-wrapper  input {
    width: 336px;
    height: 56px;
    border: 2px solid #B5B5B5;
    border-radius: 5px;
    padding: 5px;
}

.content-wrapper .custom-file label.custom-file-label{
    width: 336px;
    height: 56px;
    border: 2px solid #B5B5B5;
    border-radius: 5px;
    padding-top: 15px;

}
.content-wrapper label.custom-file-label::after{
    background: #00AEFF;
    color: white;
    margin-right: 10px;
    margin-top: 10px;
    width: 120px;
    height: 31px;
    border-radius: 5px;
    text-align: center;
   
}
.content-wrapper .content-div {
    width: 350px;
    height: 221px;
    border: 1px solid #B5B5B5;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;

}

.content-div button .myTimesSign1 {
    position: absolute;
    right: 4px;
    top: 0px;
    color: #FFFFFF;
    font-size: 24px;
}

.content-div .myAdditionSign {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #084482;
    font-size: 30px;
    cursor: pointer;
}


.content-div button {
    width: 125px;
    height: 26px;
    background: #00AEFF;
    border-radius: 4px;
    font-size: 11px;
    position: relative;
    color: #FFFFFF;;
    border: none;
    outline: none;
}



 .content-div .btn1 {
    position: absolute;
    top: 20px;
    left: 10px;
}

.content-div .btn2 {
    position: absolute;
    top: 20px;
    left: 146px;
}

.content-div .btn3 {
    position: absolute;
    top: 50px;
    left: 35px;
}

.content-div .btn4 {
    position: absolute;
    top: 50px;
    left: 170px;
} 


.content-div input {
    position: absolute;
    bottom: 0;
    display: block;
    width: 350px;
    height: 53px;
    border: 2px solid #00AEFF;
    border-radius: 5px;
    width: 100%;
}


.content-wrapper .browse-div {
    width: 336px;
    height: 56px;
    border: 2px solid #B5B5B5;
    border-radius: 5px;
    margin-bottom: 15px;
    position: relative;

}
.content-wrapper .browse-div button {
    width: 120px;
    height: 40px;
    background: #00AEFF;
    border: 1px solid #00AEFF;
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    top: 7px;
    right: 15px;
    font-size: 16px;
    text-align: center;
    padding: 5px;
}

.content-wrapper .browse-div p {
    line-height: 1px;
    padding: 0;
    color: #62666E;
    font-weight: 300;
   font-size: 16px;
   line-height: 24px;
   align-items: center;

}


.content-wrapper .browse-div .logoFormat {
    width: 71px;
    height: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    /* identical to box height */

    color: rgba(178, 178, 178, 0.58);
}


/* Decription card */
.desc-card-header>h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #353A45;
}
.desc-text{
    width: 90%;
}
.company-card,.social-card ,.desc-card>p{
    font-size: 16px;
    line-height: 24px;
    color: #4C5059;
    }
.fa-plus{
    cursor: pointer;
    color: #084482;
    font-size: 20px;
    padding: .2rem;
}
/* social Accounts Card */
.account{
    border-top: 1px solid #E7EAEC;
}
.plus-social{
    cursor: pointer;
}
.account>span{
    font-size: 16px;
    line-height: 24px;
}
.account>.pen-modif{
    visibility: hidden;
}
.account:hover .pen-modif{
    visibility: visible;
}
.fa-hashnode,.fab{
    color:#00AEFF;
}
/* Company infos card */
.company-title,.company-info{
    border-bottom: 1px solid #E7EAEC;
}
@media only screen and (max-width:990px){
    .desc-text{
        width: 100%;
        text-align: justify;
    }
}

@media only screen and (max-width: 990px) {
    .modal-box {
        margin: 0 0;
        
    }
   
    .content-wrapper {
        padding: 0;
    
    }
    .content-wrapper  input {
        width: 30%;
        height: 50px;
        border: 2px solid #B5B5B5;
        border-radius: 5px;
        padding: 5px;
    }

    .content-wrapper .content-div {
        width: 30%;
        height: 221px;
        border: 1px solid #B5B5B5;
        border-radius: 5px;
        position: relative;
       
    
    }

    
.content-div input {
    position: absolute;
    bottom: 0;
    display: block;
    width: 30%;
    height: 53px;
    border: 2px solid #00AEFF;
    border-radius: 5px;
    width: 100%;
}


.content-div button {
    width: 112px;
    height: 26px;
    background: #00AEFF;
    border-radius: 4px;
    font-size: 11px;
    position: relative;
    color: #FFFFFF;;
    border: none;
    outline: none;
}
.content-div .btn1 {
    position: absolute;
    top: 35px;
    left: 8px;
}

.content-div .btn2 {
    position: absolute;
    top: 35px;
    left: 125px;
}

.content-div .btn3 {
    position: absolute;
    top: 70px;
    left: 10px;
}

.content-div .btn4 {
    position: absolute;
    top: 70px;
    left: 125px;
} 

.content-div button .myTimesSign1 {
    position: absolute;
    right: 3px;
    top: 0px;
    color: #FFFFFF;
    font-size: 20px;
}

.content-wrapper .custom-file label.custom-file-label{
    width: 30%;
    height: 56px;
    border: 2px solid #B5B5B5;
    border-radius: 5px;
    padding-top: 15px;

}

.content-wrapper .browseCheck > p{
    font-size: 4vw;
}

.mobileContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content:  space-around;
}


.mobileFooter{
    margin: 0 0;
    width: 35%;
   
}
     
.close-btn{
         /* Vector */
    position: absolute;
    left: 30%;
    top: 2%;
    font-size: 23px;
    color: #00AEFF;

     }
}


/***** CSS ANIMATION BEGINS ********/
.slide-in {
    z-index: 10; /* to position it in front of the other content */
    margin-top: -1.5em;
    position: fixed;
    overflow: hidden; /* to prevent scrollbar appearing */
}

.slide-in.from-right {
    right: 0;
    max-width: 280px;
    min-width: 240px;
    font-size: 14px;
}

.slide-in-content {
    transition: transform .5s ease; /* our nice transition */
}
.slide-in .success {
    border-left: 3px solid #00CC00;
    padding: 5px 20px;
    background: #bfeaff;
}
.slide-in .error {
    border-left: 3px solid rgb(248,0,0);
    padding: 5px 20px;
    background: #f7cecb;
}

.slide-in.from-right .slide-in-content {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

.slide-in.show .slide-in-content {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

/*LOADER*/
.lds-hourglass {
    display: inline-block;
    position: relative;
    max-width: 30px;
    max-height: 30px;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    box-sizing: border-box;
    border: 12px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 74px;
    height: 48px;
}
.update-profile .lds-ellipsis {
    width: 238px;
    height: 59px;
}
.lds-ellipsis div {
    position: absolute;
    top: 20px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.btn-sm__custom.lds-ellipsis div {
    position: absolute;
    top: 13px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis:hover div {
    background: #084482;
    transition: 0.7s;
}
.update-profile .lds-ellipsis div:nth-child(1) {
    left: 83px;
    animation: lds-ellipsis1 0.6s infinite;
}
.update-profile .lds-ellipsis div:nth-child(2) {
    left: 83px;
    animation: lds-ellipsis2 0.6s infinite;
}
.update-profile .lds-ellipsis div:nth-child(3) {
    left: 107px;
    animation: lds-ellipsis2 0.6s infinite;
}
.update-profile .lds-ellipsis div:nth-child(4) {
    left: 131px;
    animation: lds-ellipsis3 0.6s infinite;
}


.btn-sm__custom.lds-ellipsis div:nth-child(1) {
    left: 18px;
    animation: lds-ellipsis1 0.6s infinite;
}
.btn-sm__custom.lds-ellipsis div:nth-child(2) {
    left: 18px;
    animation: lds-ellipsis2 0.6s infinite;
}
.btn-sm__custom.lds-ellipsis div:nth-child(3) {
    left: 43px;
    animation: lds-ellipsis2 0.6s infinite;
}
.btn-sm__custom.lds-ellipsis div:nth-child(4) {
    left: 67px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}


.mr-2 img {
    max-width: 60px;
    max-height: 60px;
  }
  .btn-sm__custom {
    width: 100px;
    height: 40px;
    font-size: 14px;
    line-height: 0;
  }
  #updateProfile input {
    width: 100%;
    height: 45px;
  }
  .company__logo img {
    border-radius: 5px;
    max-width: 129px;
    min-width: 109px;
    max-height: 95px;
    min-height: 95px;
  }
  .modal-body {
      padding-bottom: 6px;
  }
  .image__spec {
    font-size: 12px;
    opacity: 0.8;
    width: 94%;
    margin: auto;
  }
  .custom-file-label {
    font-size: 12px;
}
  .custom-file-label::after {
      color: #FFFFFF;
      content: "Browse";
      background-color: #00AEFF;
      border-left: inherit;
      border-radius: 0 0.25rem 0.25rem 0;
  }
  .custom-file-input:lang(en)~.custom-file-label::after {
      content: "Select Image";
  }

.logo-container {
    margin-top: 4.5rem;
}
.edit-image-icon {
    color: #00AEFF;
    font-size: 24px;
    cursor: pointer;
    padding: 16px 8px 2px 8px;
}

.select {
    cursor: pointer;
    /* needed */
    -webkit-appearance: none;
    -moz-appearance: none;
    /* SVG background image */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23337AB7' viewBox='0 0 24 24'%3E%3Cpath d='M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z'/%3E%3C/svg%3E");
    background-size: .6em;
    background-position: calc(100% - 1.3em) center;
    background-repeat: no-repeat;
}

.employer__image img {
    margin-top: 40px;
    max-height: 130px;
    min-height: 130px;
    max-width: 150px;
    min-width: 150px;
    border-radius: 10px;
    box-shadow: 1px 2px 4px 0 #B5B5B5;
}


/* BOOTSTRAP SELECT LIVE SEARCH*/
.bootstrap-select .btn-light {
    color: #A0A0A0;
    background-color: white;
    border: 1px solid #ccc;
    height: 45px;
    border-radius: 5px;
}
.bootstrap-select .dropdown-toggle .filter-option {
    padding-top: 10px;
    font-size: 1rem;
    color: #495057;
    font-weight: 400;
}
.bootstrap-select .btn-light:hover {
    color: #A0A0A0;
    background-color: white;
}
.bootstrap-select .dropdown-menu {
    min-width: 213px;
    max-width: 269px;
}
.bootstrap-select .dropdown-toggle::after {
    content: none;
}
.bootstrap-select .dropdown-toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    /* SVG background image */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23337AB7' viewBox='0 0 24 24'%3E%3Cpath d='M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z'/%3E%3C/svg%3E");
    background-size: .6em;
    background-position: calc(100% - .8em) center;
    background-repeat: no-repeat;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: inherit;
}
/* BOOTSTRAP SELECT LIVE SEARCH END*/