:root{
  --dark-blue: #084482;
  --light-blue: #00AEFF;
}

body {
  background-color: #F4F4F4;
  font-family: Poppins;
}

.tp-card{
  border-radius: 10px;
  height: 200px;
  overflow-y: scroll;
}
.tp-card::-webkit-scrollbar {
  width: .5rem;
  margin-right: .5rem;
  border-radius: 10px;
}
 
.tp-card::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.tp-card::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.bg-dark-blue{
  background-color: var(--dark-blue);
}
.bg-light-blue{
  background-color: var(--light-blue);
}

.tp-btn-outline-primary{
  border: 1px solid #fff ;
  background-color: #fff;
  color: var(--dark-blue);
}

.tp-btn-outline-primary:hover{
  border: 1px solid #fff ;
  background-color: #fff;
  color: var(--dark-blue);
}

.portfolio-link{
  color: #fff;
}
.portfolio-link:hover{
  text-decoration: underline;
  color: var(--dark-blue);
}
.img-container{
  max-width: 70%;
}

@media screen and (min-width: 992px){
  main{
    width: calc(100% - 234px);
    margin-left: auto;
  }
}
