:root {
  --dark-blue: #084482;
  --light-blue: #00aeff;
}

body {
  background-color: #f4f4f4;
  font-family: Poppins;
}

.card {
  border: none !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
}

.card1 {
  color: #ffffff;
  background: #084482;
}

.card2 {
  color: #ffffff;
  background: #5c95c5;
}

.card3 {
  color: #ffffff;
  background: #33beff;
}

.btn-primary {
  background: #33beff !important;
  border: #33beff !important;
}

.btn-primary:active,
.btn-primary:focus {
  box-shadow: none !important;
}

.btn-white {
  background: #ffffff !important;
  color: black;
}

.portfolio-link {
  color: #fff;
}
.portfolio-link:hover {
  text-decoration: underline;
  color: var(--dark-blue);
}

.portfolio-card {
  max-height: 400px;
}
.img-container {
  max-width: 70%;
}

@media screen and (min-width: 992px) {
  main {
    width: calc(100% - 234px);
    margin-left: auto;
  }
}
