.jumbotron {
    background:  #084482;
    font-size: 24px;
    line-height: 36px;
    }
    
    p.text-wrap{
        color: #fff;;
    }
    
    .sub-btn{
       background: #33BEFF;
       font-weight: 500;
       font-size: 24px;
       line-height: 36px;
       letter-spacing: 0.03em;
       text-align: center;
       border-radius: 5px;
       color: #fff;
       width: 238px;
       height: 69px;
       margin-top: 80px;
       margin-bottom: 90px;
    }

    .sub-btn:hover{
        color: #ffffff;
        background: #337ab7;
    }
    
    
    .form-group {
        font-size: 18px;
        line-height: 27px;
        color: #1F2430;
     }

    .form_select, .form_input{
        border: 1px solid #337AB7;
        padding: 10px 10px 10px 10px;
        height: 50px;
    }
    
    input[type="radio"] {transform: scale(1.5); margin: 7px;}

    option[value=""] {
        height: 51px;
    }
