body {
    color: #495057;
}

 .custom-container {
  max-width: 1440px;
}

.container-fluid {
  padding-bottom: 0 !important;
}

.signUp-img-div{
  display: block;
  background: no-repeat url("../../img/employee_signup_image.png");
  background-size: 100% auto cover;
  padding-left: 15px;
  /* width: 614px !important; */
}

.signIn-img-div{
  display: block;
  background: no-repeat url("../../img/employee_signin_image.png");
  background-size: 100% auto cover;
  /* width: 614px !important; */
}
    
.smallTitle {
color: #B5B5B5;
font-size: 16px;
line-height: 24px;
}

.bigTitle {
color: #084482;
font-weight: 500;
font-size: 32px;
line-height: 42px;
}

label {
font-size: 18px;
line-height: 27px;
color: #1F2430;
}

.form-control{
border-radius: 5px;
border: 1px solid #b5b5b5;
padding: 25px;
}

input::placeholder {
font-size: 16px;
line-height: 24px;
color: rgba(178, 178, 178, 0.58);
}

#terms-policy {
line-height: 50px;
}

.social-sign-in{
  text-decoration: none !important;
}

#signup-btn{
    color: #ffffff;
    /* width: 572px;
    height: 68px; */
   border: 1px solid #00AEFF;
    box-sizing: border-box;
    border-radius: 5px;
}

#signup-btn, #signup-btn:visited {
  background-color: #00AEFF !important;
}

#signup-btn:hover{
  background-color: #337ab7 !important;
} 

#signup-btn:active{
  background-color: #084482 !important;
} 

hr {
  color: #084482;
  border: .5px solid #084482;
}

.login-link {
  color: #00aeff;
  text-decoration: none;
}
.login-link:hover {
  color: #337ab7;
  text-decoration: none;
}
.login-link:active {
  color: #084482;
  text-decoration: none;
}

.github-btn {
  background: #000000d2;
  color: white;
}

.github-btn:hover {
  background: #000;
  color: white;
}
.google-btn {
  background: #db4a39;
}

.google-btn:hover {
  color: white;
  background: #f7220b;
}

.modal-content {
  max-width: 540px;
  box-shadow: 2px 8px 20px rgba(181, 181, 181, 0.2);
  border-radius: 5px;
  border: none;
  padding: 49px 37px 41px;
}

.modal-content svg {
  margin-top: 69.58px;
}

.modal-content h2 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 24px;
  margin-top: 48.6px;
  color: #25282B;
}

.modal-content p {
  font-size: 1rem;
  max-width: 410px;
  margin: 10px auto 41px;
  color: #343434;
}

.modal-content button {
  max-width: 238px;
  width: 100%;
  padding: 11px 0;
  background: #00AEFF;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.5rem;
  border: none;
}

.signup-nav {
  border-bottom: 1px solid #084482;
}

.intern-sign,
.user-sign {
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  color: #AAAAAA;
}

.signup-nav .active {
  color: #1F2430;
  border-bottom: 4px solid #084482;
}

.input-group {
  display: flex;
  flex-direction: column;

}

#invalid, #invalidL, #invalidE, #invalidP, #invalidPass, #invalidPass2 {
  display: none;
  font-size: 12.8px;
  color: #DB4A39;
}
#invalidV2, #invalidLV2, #invalidEV2, #invalidPV2, #invalidPassV2, #invalidPass2V2 {
  display: none;
  font-size: 12.8px;
  color: #DB4A39;
}

#invalidCheck {
  font-size: 12.8px;
  color: #DB4A39;
}
#invalidCheckV2 {
  font-size: 12.8px;
  color: #DB4A39;
}

.loader {
  display: none;
  margin: auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #00aeff; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}
.loaderV2 {
  display: none;
  margin: auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #00b7ff; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.first-last--name {
  animation-name: come-in;
  animation-duration: 1s;
}
.email-phone {
  transform: translateX(700px);
  animation-name: come-in-2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.password-area {
  transform: translateX(700px);
  animation-name: come-in-2;
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
}
.checkboxes {
  transform: translateX(700px);
  animation-name: come-in-2;
  animation-duration: 1.4s;
  animation-fill-mode: forwards;
}
.form-button {
  transform: translateX(700px);
  animation-name: come-in-2;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
.social-buttons {
  transform: translateX(700px);
  animation-name: come-in-2;
  animation-duration: 1.6s;
  animation-fill-mode: forwards;
}
.signUp-img-div {
  opacity: 0.2;
  animation-name: fader;
  animation-duration: 1.6s;
  animation-fill-mode: forwards;
}
@keyframes come-in {
  from {
    transform: translateX(500px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes come-in-2 {
  from {
    transform: translateX(700px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fader {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}