:root{
  --dark-blue: #084482;
  --light-blue: #00AEFF;
}

body {
    background-color: #F4F4F4;
    font-family: Poppins;
}
.employee-img{
    max-width: 300px;
    max-height: 360px;
    border-radius: 50%;
}