body {
    font-family: 'Poppins', sans-serif;
}

.heading-color {
    color: #084482;
}

main {
    /* padding: 0 15rem; */
    margin-left: 10rem;
    margin-right: 10rem;
}


/* progress bar */

.form-progress {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 25%;
    max-width: 400px;
}

progress {
    display: block;
    position: relative;
    top: 7px;
    left: 5px;
    width: 45%;
    height: 6px;
    background: none;
}

.text-default {
    color: #5C95C5;
}

progress::-webkit-progress-bar {
    background-color: #5C95C5;
}

.form-progress-indicator {
    position: absolute;
    top: -7px;
    left: 0;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: white;
    /* background-image: ; */
}

.form-progress-indicator.one {
    left: 0;
}

.form-progress-indicator.two {
    left: 40%;
}


/* progress bar End */

.radio-select input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 35px;
    height: 35px;
    background-clip: content-box;
    border: 2px solid #5C95C5;
    background-color: #e7e6e7;
    border-radius: 50%;
}

.radio-select input[type=radio]:checked {
    background-color: #5C95C5;
}

.vector {
    color: #5C95C5;
    margin: -10px -30px;
}

.rectangle29 {
    margin: -5px;
}

.display-size {
    font-size: 1.3rem;
    padding-left: 16px;
}

.new-btn {
    background-color: #33BEFF;
    width: 8rem;
    height: 56px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
}

.new-btn2 {
    background-color: #33BEFF;
    width: 12rem;
    height: 56px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
}

.form-control {
    border: 3px solid #ced4da;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: rgb(181, 181, 181) !important;
    border-image: initial !important;
}

div.container.my-3.boxs {
    border: 3px solid #ced4da;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: rgb(181, 181, 181) !important;
    border-image: initial !important;
}

.alert-warning {
    color: #62666E;
    background-color: #fff;
    border: 1px solid #B5B5B5
}

.em-input {
    border: 2px solid #B5B5B5;
    height: 56px;
    border-radius: 5px;
}

 ::placeholder {
    color: rgba(178, 178, 178, 0.58) !important;
    letter-spacing: 0.03em;
    font-weight: 300;
    line-height: 24px;
}

.select {
    color: rgba(178, 178, 178, 0.58) !important;
}

.small {
    color: rgba(98, 102, 110, 0.9);
}

.boxs {
    border: 2px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 5px;
    height: 14rem;
}

input[type=radio] {
    border: 0px;
    width: 50px;
    height: 2em;
}

.noti-label {
    color: #62666E;
}

.margt {
    padding-top: 6rem;
}

.new-btn:hover,
.new-btn2:hover {
    background-color: #33BEFF;
    color: #FFFFFF
}

@media (min-width: 992px) {
    main {
        padding: 0 15rem;
    }
}


/* small devices*/

main {
    margin-left: 0;
    margin-right: 0;
}

@media (min-width: 576.98px) {
    .dis-block {
        display: none;
    }
}

@media (min-width: 769px) {
    .dis-block {
        display: none;
    }
}

@media (max-width: 355px) {
    main {
        margin-left: 0;
        margin-right: 0;
    }
    .boxs-sm {
        height: 25rem !important;
    }
    .new-btn {
        width: 8rem
    }
    input#logo.form-control.em-input {
        width: 8rem !important;
    }
    .right-div {
        margin-left: 150px;
    }
}


/* MOBILE VIEW */
@media (max-width: 575.98px) {
    .fa-2x {
        font-size: 1.8rem;
    }
    .non {
        display: none;
    }
    progress {
        display: block;
        position: relative;
        top: 7px;
        left: 5px;
        width: 100%;
        height: 6px;
        background: none;
    }
    .form-progress-indicator.two {
        left: 100%;
    }
    .pd-8 {
        padding-left: 8rem;
        padding-right: 8rem;
    }
    input#logo.form-control.em-input {
        width: 12rem !important;
    }
    .left-div {
        float: left;
        width: 100px;
    }
    .right-div {
        margin-top: -55px;
        margin-left: 200px;
    }
    .right-div1 {
        margin-top: -55px;
        margin-left: 100px;
    }
    .form-control {
        width: 100%;
    }
    .wid {
        width: 100% !important;
    }
    input#companyname.form-control.em-input {
        width: 100% !important;
    }
    .boxs-sm {
        height: 18rem !important;
    }
    .display-size {
        font-size: 1rem;
    }
    .small-xs {
        font-size: 0.8rem;
    }
    .center {
        text-align: center !important;
    }
    .center1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
    .col- {
        display: inline-block;
    }
    *,
     ::after,
     ::before {
        box-sizing: border-box;
    }

    /* //MOBILE VIEW EDITS */
    .display-size {
        font-size: 12px;
        padding-left: 10px;
    }

    #profile {
        margin-top: 32px !important;
    }

    .margt {
        padding-top: .5rem !important;
    }

    .profile-figure {
        margin-bottom: 0!important;
    }

    .profile-figcaption {
        margin-top: 16px;
    }

    .mobile-margin-fix1 {
        margin-top: 1.5rem!important;

    }
    .mobile-margin-fix2 {
        margin-top: .5rem!important;
    }
    .mobile-margin-zero {
        margin-bottom: 0!important;
    }
    .heading-color {
        padding-top: 0 !important;
    }
    .mobile-margin-fix4 {
        margin-top: 1.5rem!important;
    }
    .mobile-margin-pixel {
        margin-top: 57px!important;
        margin-bottom: calc(57px + 1rem)!important;
        padding-bottom: 0!important;
    }
    .new-btn2 {
        margin-bottom: 0!important;
    }

    .interested-skills {
        margin-bottom: 0!important;
        margin-top: .5rem;
    }
}


div.btn.new-btn.m {
    position: relative;
    overflow: hidden;
}

input[type=file] {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

input#output.form-control.em-input {
    width: 100%;
}

.form-control[readonly] {
    background-color: #fff;
}


/***** CSS ANIMATION BEGINS ********/
.slide-in {
    z-index: 10; /* to position it in front of the other content */
    margin-top: -4.2em;
    position: fixed;
    overflow: hidden; /* to prevent scrollbar appearing */
}

.slide-in.from-right {
    right: 0;
    max-width: 280px;
    min-width: 240px;
    font-size: 14px;
}

.slide-in-content {
    transition: transform .5s ease; /* our nice transition */
}
.slide-in .success {
    border-left: 3px solid #00CC00;
    padding: 5px 20px;
    background: #bfeaff;
}
.slide-in .error {
    border-left: 3px solid rgb(248,0,0);
    padding: 5px 20px;
    background: #f7cecb;
}

.slide-in.from-right .slide-in-content {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

.slide-in.show .slide-in-content {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

/*LOADER*/
.lds-hourglass {
    display: inline-block;
    position: relative;
    max-width: 30px;
    max-height: 30px;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    box-sizing: border-box;
    border: 12px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    min-width: 174px;
    padding: auto;
    /*height: 48px;*/
}
.lds-ellipsis span {
    padding-left: 30px;
}
.lds-ellipsis div {
    position: absolute;
    top: 20px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis:hover div {
    background: #084482;
    transition: 0.7s;
}
.lds-ellipsis div:nth-child(1) {
    left: 58px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 58px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 82px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 106px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
/***** CSS ANIMATION ENDS ********/


/****** UPDATED FORM *******/
.form-group .form-control::placeholder {
    /* border: 2px solid red !important; */
    color: #A0A0A0 !important
}
.select {
    color: #A0A0A0 !important
}

.was-validated .form-control:invalid {
    border: 1px solid #dc3545 !important;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23d31919' width='36px' height='36px'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.form-control.is-valid, .was-validated .form-control:valid {
    border: 1px solid #28a745 !important;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%2300cc33' width='36px' height='36px'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.select {
    cursor: pointer;
    /* needed */
    -webkit-appearance: none;
    -moz-appearance: none;
    /* SVG background image */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23337AB7' viewBox='0 0 24 24'%3E%3Cpath d='M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z'/%3E%3C/svg%3E");
    background-size: .6em;
    background-position: calc(100% - 1.3em) center;
    background-repeat: no-repeat;
}
/****** UPDATED FORM ENDS *******/