* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  color: #1f2430 !important;
  font-size: 18px;
  /* min-width: 100vw; */
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  max-height: 100%;
}
body h1 {
  color: #084482;
  font-size: 40px;
  font-weight: 700;
}

/* actual CSS */
a:hover {
  text-decoration: none;
}

.fa-check{
color: #5AAEFF !important;
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .card-description{
    min-height: 81px;
  }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .card-description{
    min-height: 100px;
  } 
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .card-description{
    min-height: 100px;

  }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .card-description{
    min-height: 81px;
  }
 }
