* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  color: #1f2430 !important;
  font-size: 18px;
  /* min-width: 100vw; */
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  max-height: 100%;
}
body h1 {
  color: #084482;
  font-size: 40px;
  font-weight: 700;
}

/* actual CSS */
a:hover {
  text-decoration: none;
}
