<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../Templates/head') %>
</head>

<body>
    <%- include('../Templates/header') %>
  
    <section class="container-fluid first">
        <h4 class="container">At Talent Pool we bridge the gap between top talents and companies in the tech industry
        </h4>
    </section>
    
    <main class="container-fluid">
        <section class="container second">
            <h5>
                  Founded in 2020, Talent Pool is an online marketplace for HNG interns to offer services to employers worldwide.
            </h5>
        </section>
        <section class="container mb-5 pb-3">
            <div class="card-columns">
                <div class="card">
                    <img class="icons" src="img/AboutUs-Icons/star.svg" alt="" />
                    <div class="pt-1 thick card-title text-center">Who we are?</div>
                    <div class="card-body text-center">
                        <p class="card-text">Talent Pool is made up of amazing individuals, but it’s only through teamwork that we achieve greatness. We’re honest, transparent and committed to doing what's best.</p>
                    </div>
                </div>
                <div class="card ">
                    <img class="icons" src="img/AboutUs-Icons/eccentric.svg" alt="" />
                    <div class="pt-1 thick card-title text-center">Our Goals</div>
                    <div class="card-body text-center">
                        <p class="card-text">
                          <p> Develop our people by providing an environment that fosters professional growth.</p>
                          <p> Connect employers and companies with great talents.</p>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img class="icons" src="img/AboutUs-Icons/crown.svg" alt="" />
                    <div class="pt-1 thick card-title text-center">Our Values</div>
                    <div class="card-body text-center mb-4">
                        <p class="card-text text-left">
                          <p>Commitment</p>
                          <p>Growth</p>
                          <p>Innovation</p>
                          <p>Performance Driven</p>
                          <p>Teamwork</p>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="container fourth mt-5 mb-5 p-5">
            <div class="row ">
                <div class="col-12 col-md-6 pb-sm-none pb-5">
                    <img class="img-fluid" src="img/AboutUs/AboutUs2.svg" alt="" />
                </div>
                <div class="col-12 col-md-6">
                    <h2 >Connect With Skilled Minds</h2>
                    <p>We streamline recruitment process for companies. Talent Pool allows companies to find the perfect
                        match for their job roles. Intern Library
                    </p>
                    <div class="pt-3 row">
                        <div class="col-1">
                            <img class="icons2" src="img/AboutUs-Icons/search.svg" alt=""/>
                        </div>
                        <div class="col-11">
                            <h3>Find Top Talent Easily</h3>
                            <p>Sign up as an employer and search for interns based track and skillset.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <img class="icons2" src="img/AboutUs-Icons/profile.svg" alt=""/>
                        </div>
                        <div class="col-11">
                            <h3>Recruit the Best Intern</h3>
                            <p>Choose from the available interns and recruit the best candidate into your company</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <img class="icons2" src="img/AboutUs-Icons/speak.svg" alt=""/>
                        </div>
                        <div class="col-11">
                            <h3>Speak With Industry Experts</h3>
                            <p>Not sure what you’re looking for? Request for a recommendation.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('../Templates/footer') %>

</body>

</html>