<!DOCTYPE html>
<html>

<head>
	<%- include('../Templates/head') %>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="../styles/custom-css/top-nav-admin.css" rel="stylesheet" />
	<link href="../styles/custom-css/side-nav.css" rel="stylesheet" />
	<link rel="stylesheet" href="../styles/custom-css/admin-dashboard-settings.css">
	<link rel="shortcut icon" href="../img/favicon.svg" type="image/x-icon">
</head>

<body>

	<!-- Header -->
	<%- include('../Templates/admin-header') %>
	
	<!-- SideNav -->
	<%- include('../Templates/admin-sidebar') %>

	<div id="body__click"></div>

	<!-- Settings Content -->

	<div id="heading">Settings</div>
	<div class="settings-section container rounded">
		<div class="row no-gutters">
			<div class="col-sm-4 settings-list">
				<ul>
					<li><a href="#" class="active"> <img src="../img/gear 1.png"> General </a></li>
					<li><a href="#"> <img src="../img/appearance-admin.png"> Appearance </a></li>
					<li><a href="#"> <img src="../img/notification-admin.png"> Notification</a></li>
					<li><a href="#"> <img src="../img/contact-admin.png"> Contact Us </a></li>
					<li><a href="#"> <img src="../img/privacy-admin.png"> My Privacy </a></li>
					<li><a href="#"> <img src="../img/report-admin.png"> Report Abuse </a></li>
				</ul>
			</div>
			<div class="col-sm-8 settings-content">
				<div class="setting-name">General</div>
				<div class="settings-options">
					<ul>
						<li class="option"> <a href="#"> Profile <img src="../img/right-arrow.png"></a></li>
						<li class="option"> <a href="#"> Account Preferences <img src="../img/right-arrow.png"></a></li>
						<li class="option"> <a href="#"> Login & Security <img src="../img/right-arrow.png"></a></li>
						<li class="option"> <a href="#"> Accessibility <img src="../img/right-arrow.png"></a></li>
					</ul>
				</div>

				<button id="save-changes-btn">
					Save Changes
				</button>
			</div>
		</div>
	</div>


	<script src="../js/bootstrap-js/jquery.js"></script>
	<script src="../js/bootstrap-js/popper.js"></script>
	<script src="../js/bootstrap-js/bootstrap.js"></script>
	<script src="../js/custom-js/side-nav.js"></script>
</body>

</html>