<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../Templates/admin-head.ejs') %>
    <link href="../styles/custom-css/admin-dash-employers.css" rel="stylesheet" />

    <link  href="../styles/custom-css/admin-verification.css" rel="stylesheet" />

    <link rel="shortcut icon" href="../img/favicon.svg" type="image/x-icon">
    
    <link href="/styles/custom-css/employer-top-nav.css" rel="stylesheet" />

    <title>Talent Pool - Admin Verification</title>
</head>

<body>

     <!-- Top-Nav -->
    <%- include('../Templates/admin-header') %>
    <!-- Top-Nav End -->

    <div class="container-fluid pt-3 px-md-4 px-xl-0 main">
        <div class="row">
            <!-- SideBar -->
            <div class="col-lg-3 col-xl-2 d-md-block sticky-top">
                <%- include('../Templates/admin-sidebar') %>
                ​
                <div id="body__click"></div>
            </div>
            <!-- SideBar End-->
            
            <!-- main content -->
            <div class="col-lg-9 ml-sm-auto col-xl-10 pl-lg-3 pr-lg-4 px-xl-5">
                <h3 class="text-capitalize font-weight-normal text-dark">verification</h3>
                <!-- <div class="d-flex mt-5 mb-4 justify-content-end">
                    <div class="dropdown bg-white employer-list-btn">
                        <button class="btn dropdown-toggle pl-3" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <small>All</small>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Action</a>
                        </div>
                    </div>
                </div> -->

                <div class="">
                    <div class="grid-box bg-white p-md-5">
                        <div class="shadow d-flex flex-column justify-content-center align-items-center p-3">
                            <img src="../img/logo.png" alt="" class="img-fluid img__square mb-3">
                            <h3 class="text-capitalize text-dark mb-2">access bank plc</h3>
                            <p class="text-dark text-center p-4 mb-4">About company LibrarySuscipit libero pretium
                                nullam potenti.
                                Interdum, blandit phasellus consectetuer</p>
                            <div class="">
                                <button class="text-capitalize text-left btn btn__color mr-md-5">view details</button>
                                <button class="text-white text-capitalize btn__pill ml-md-3">verify</button>
                            </div>
                        </div>
                        <div class="shadow d-flex flex-column justify-content-center align-items-center p-3">
                            <img src="../img/logo.png" alt="" class="img-fluid img__square mb-3">
                            <h3 class="text-capitalize text-dark mb-2">access bank plc</h3>
                            <p class="text-dark text-center p-4 mb-4">About company LibrarySuscipit libero pretium
                                nullam potenti.
                                Interdum, blandit phasellus consectetuer</p>
                            <div class="">
                                <button class="text-capitalize text-left btn btn__color mr-md-5">view details</button>
                                <button class="text-white text-capitalize btn__pill ml-md-3">verify</button>
                            </div>
                        </div>
                        <div class="shadow d-flex flex-column justify-content-center align-items-center p-3">
                            <img src="../img/logo.png" alt="" class="img-fluid img__square mb-3">
                            <h3 class="text-capitalize text-dark mb-2">access bank plc</h3>
                            <p class="text-dark text-center p-4 mb-4">About company LibrarySuscipit libero pretium
                                nullam potenti.
                                Interdum, blandit phasellus consectetuer</p>
                            <div class="">
                                <button class="text-capitalize text-left btn btn__color mr-md-5">view details</button>
                                <button class="text-white text-capitalize btn__pill ml-md-3">verify</button>
                            </div>
                        </div>
                        <div class="shadow d-flex flex-column justify-content-center align-items-center p-3">
                            <img src="../img/logo.png" alt="" class="img-fluid img__square mb-3">
                            <h3 class="text-capitalize text-dark mb-2">access bank plc</h3>
                            <p class="text-dark text-center p-4 mb-4">About company LibrarySuscipit libero pretium
                                nullam potenti.
                                Interdum, blandit phasellus consectetuer</p>
                            <div class="">
                                <button class="text-capitalize text-left btn btn__color mr-md-5">view details</button>
                                <button class="text-white text-capitalize btn__pill ml-md-3">verify</button>
                            </div>
                        </div>
                        <div class="shadow d-flex flex-column justify-content-center align-items-center p-3">
                            <img src="../img/logo.png" alt="" class="img-fluid img__square mb-3">
                            <h3 class="text-capitalize text-dark mb-2">access bank plc</h3>
                            <p class="text-dark text-center p-4 mb-4">About company LibrarySuscipit libero pretium
                                nullam potenti.
                                Interdum, blandit phasellus consectetuer</p>
                            <div class="">
                                <button class="text-capitalize text-left btn btn__color mr-md-5">view details</button>
                                <button class="text-white text-capitalize btn__pill ml-md-3">verify</button>
                            </div>
                        </div>
                        <div class="shadow d-flex flex-column justify-content-center align-items-center p-3">
                            <img src="../img/logo.png" alt="" class="img-fluid img__square mb-3">
                            <h3 class="text-capitalize text-dark mb-2">access bank plc</h3>
                            <p class="text-dark text-center p-4 mb-4">About company LibrarySuscipit libero pretium
                                nullam potenti.
                                Interdum, blandit phasellus consectetuer</p>
                            <div class="">
                                <button class="text-capitalize text-left btn btn__color mr-md-5">view details</button>
                                <button class="text-white text-capitalize btn__pill ml-md-3">verify</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="../js/bootstrap-js/popper.js"></script>
    <script src="../js/bootstrap-js/jquery.js"></script>
    <script src="../js/bootstrap-js/bootstrap.js"></script>
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    </script>
    <script src="../js/custom-js/side-nav.js"></script>
</body>

</html>