<!DOCTYPE html>
<html>

<head>
    <%- include('../Templates/admin-head') %>
    <link rel="stylesheet" href="../styles/custom-css/admin-dash-messages.css">
</head>

<body>
    <!-- top nav -->
    <%- include('../Templates/admin-header') %>

    <!-- sidebar -->
    <%- include('../Templates/admin-sidebar') %>

    <div id="body__click"></div>

    <!-- main content -->
    <div id="main-content" class="pt-lg-2 pb-lg-5">
        <div class="container-fluid main-chat-container">
            <div class="container chat-top p-0">
                <div class="row mt-lg-3 m-0 p-md-0 p-1 main-section">
                    <div class="col-lg-8 col-6">
                        <h1 class="main-heading d-lg-block d-none">Messages</h1>
                        <p class="d-lg-none" style="color:  #084482; font-weight: 500;"><img
                                src="img/admin-dash-messages/Vector.png" alt="icon"><span>Inbox</span></p>
                    </div>
                    <div class="col-lg-4 col-6 d-flex justify-content-end">
                        <div id="talent-offers">
                            <img src="img/admin-dash-messages/Vector.svg" alt="">
                            <!-- <img src="../img/admin-dash-messages/Vector (2).svg" alt="" class="d-lg-none d-block"> -->
                            <span>Talent Offers</span>
                        </div>
                    </div>
                </div>
                <div class=" mt-0 p-lg-0 p-3" id="inbox-top">
                    <p class="m-0"><button class="chat-btn" onclick="toggleBack()"><img
                                src="img/admin-dash-messages/back-arrow.svg" alt=""
                                class="d-lg-none pr-2"></button><span>Inbox</span>
                    </p>
                </div>
            </div>

            <!-- chat section -->
            <div class="container chat">
                <div class="row">
                    <div class="col-lg-5 left-side p-0 main-section" id="main-section">
                        <div class="m-4">
                            <input type="text" class="py-4 form-control text-center"
                                placeholder="Search on Start a new message" aria-label="Large"
                                aria-describedby="inputGroup-sizing-sm" id="search-box"
                                style="border: 1px solid #B5B5B5;font-size: 15px;">

                            <hr class="mt-4 mb-4" style="border-top:1px solid#B5B5B5;">
                        </div>

                        <div class="chat-scroll-view px-md-2 p-2 pb-2 pt-0">


                        </div>


                    </div>

                    <!-- right section -->
                    <div class="col-lg-7 right-side p-0" id="right-side">
                        <div class="top-tab d-flex align-items-center p-2">
                            <p class="m-0 pl-4"><img src="img/admin-dash-messages/dp-image.png" alt="profile-img"
                                    id="dp">
                                <span class="pl-3"><b>Adeleke Oluwakemi</b></span></p>
                        </div>
                        <div class="main-tab ">

                            <div class="px-md-5 px-2 pt-4 chat-messages">
                                <div class="day d-flex justify-content-center p-2">
                                    Yesterday
                                </div>

                                <div class="realchat">



                                </div>

                            </div>
                            <div class="px-md-5 chat-fixed-bottom">
                                <div class="pt-2 py-4 pl-2 d-flex w-100">
                                    <div class="msg-input">
                                        <input type="text" placeholder="Type something..." id="type-msg">
                                    </div>
                                    <div class="emojipack d-flex">
                                        <button class="chat-btn p-0"><img src="img/admin-dash-messages/Emoji.svg" alt=""
                                                class="px-2 bottom-icon"></button>
                                        <button class="chat-btn p-0"><img src="img/admin-dash-messages/pin.svg" alt=""
                                                class="px-2 bottom-icon"></button>
                                        <button class="chat-btn p-0"><img src="img/admin-dash-messages/dots.svg" alt=""
                                                class="px-2 bottom-icon"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="js/custom-js/side-nav.js"></script>
    <script src="js/custom-js/admin-chat.js"></script>
    <script src="js/custom-js/admin-dash-messages.js"></script>

</body>

</html>