<link rel="stylesheet" href="../styles/custom-css/employer-changePassword.css">
<div class="modal fade" id="update-password" tabindex="-1" role="dialog" aria-labelledby="update-password"
    aria-hidden="true">
    <form id="changePassword" enctype="multipart/form-data" novalidate>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="modal-dialog modal-dialog-centered modal-box">
            <div class="container">
                <div class="modal-content content-wrapper container">
                    <div class="modal-header">
                        <h5 class="modal-title title-text">Update Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span class="close-btn1" aria-hidden="true">&times;</span>
                            <svg class="close-btn" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M23.6673 2.68301L21.3173 0.333008L12.0007 9.64968L2.68398 0.333008L0.333984 2.68301L9.65065 11.9997L0.333984 21.3163L2.68398 23.6663L12.0007 14.3497L21.3173 23.6663L23.6673 21.3163L14.3507 11.9997L23.6673 2.68301Z"
                                    fill="#00AEFF" />
                            </svg>

                        </button>
                    </div>
                    <div class="modal-body myModal-body">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label>Old Password</label>
                                    <div class="input-group" id="show_hide_password">
                                        <input class="form-control" type="password" name="oldPassword" required>
                                        <div class="input-group-append">
                                            <a href="" class="input-group-text"><i class="fa fa-eye-slash"
                                                    aria-hidden="true"></i></a>
                                        </div>
                                        <div class="invalid-feedback">
                                            Enter old password
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-6">

                                <div class="form-group">
                                    <label>New Password</label>
                                    <div class="input-group" id="new_password">
                                        <input class="form-control" type="password" name="newPassword" required>
                                        <div class="input-group-append">
                                            <a href="" class="input-group-text"><i class="fa fa-eye-slash"
                                                    aria-hidden="true"></i></a>
                                            </div>
                                            <div class="invalid-feedback">
                                                Enter new password
                                            </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-6">

                                <div class="form-group">
                                    <label>Confirm New Password</label>
                                    <div class="input-group" id="confirm_new_password">
                                        <input class="form-control" type="password" name="confirmPassword" required>
                                        <div class="input-group-append">
                                            <a href="" class="input-group-text"><i class="fa fa-eye-slash"
                                                    aria-hidden="true"></i></a>
                                        </div>
                                        <div class="invalid-feedback">
                                            Confirm new password
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-around mobileFooter">

                        <button type="submit" class="btn mx-auto">Save Password</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
