<!DOCTYPE html>
<html>
	<head>
		<%- include('../Templates/head') %>
		<link rel="stylesheet" href="../styles/custom-css/employer-type.css" />
	</head>
	<body>
		<!-- NAV-BAR -->
		<%- include('../Templates/employerhead') %>

		<main>
			<div class="mt-5">
				<div class="container text-center">
					<h5 class="heading-color">
						Let’s get started
					</h5>
					<div class="container pt-5 center">
						<div class="row">
							<div class="col-sm-2"></div>
							<div class="col-sm col-">
								<div class="form-progress">
									<div class="center">
										<progress
											class="form-progress-bar"
											style="border: 3px solid grey;"
											min="0"
											max="33"
											value="0"
											step="33"
											aria-labelledby="form-progress-completion"
										></progress>
										<div class="form-progress-indicator one active">
											<i
												class="text-default mb-2 fa-2x fa fa-circle-thin"
												aria-hidden="true"
												style="background-color: #fff;"
											></i>
										</div>
										<div class="form-progress-indicator two">
											<i class="text-default mb-2 fa-2x fa fa-circle-thin" aria-hidden="true" style="color: grey;"></i>
										</div>
										<p id="form-progress-completion" class="js-form-progress-completion sr-only" aria-live="polite">
											0% complete
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- SELECT EMPLOYER TYPE -->

			<section class="my-5">
				<div class="container">
					<div class="form-group select-page">
						<div class="employer-select">
							<label for="companyname" class="sr-only">Select your Employer Type</label>
							<select class="form-control em-input select employer-type" name="employer-type" id="employer-type">
								<option disabled selected>Select Employer Type</option>
								<option value="company">Company</option>
								<option value="individual">Individual</option>
							</select>
						</div>

						<a href="" type="button" class="btn select-next new-btn">Next</a>
						<!-- <a href="../src/employer-profile-page-creation1.html" type="button" class="btn select-next">Next</a> -->
					</div>
				</div>
			</section>
		</main>

		<script type="module" src="js/custom-js/employer-type.js"></script>
		<%- include('../Templates/footer') %>
	</body>
</html>
