<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/employeeProfileHead') %>
</head>

<body>



    <%- include('../includes/employeeSideNav') %>

    <div class="modal fade modal-static" tabindex="-1" role="dialog" id="global_modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="container">

                    <div class="modal-header formCol">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" onclick="close_modal()"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body"></div>
                </div>
            </div>
        </div>
    </div>
    ​

    <div id="main-section">

        <%- include('../includes/employeeHeader') %>

        <section id="portfolio" class="mt-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
                        <div class="card px-4 py-5 bio">
                            <img src="" alt="" id="employee-img">
                            <div class="intern-main text-center mt-4">
                                <h3 class="employeeName"></h3>
                                <p class="employeeSkill"></p>
                            </div>
                            <hr>
                            <div class="intern-other">
                                <p class="employeeLocation"><span><img src="../img/iprofile/carbon_location.svg" alt=""></span>
                                </p>
                                <p class="employeeEmail"><span><img src="../img/iprofile/carbon_email.svg" alt=""></span>

                                </p>
                                <p id="intern-id" class="ml-4"></p>
                                <p id="availability"  class="ml-4"></p>
                                <p id="phone" class="ml-4"></p>

                            </div>
                            <hr>
                            <div class="text-center">
                                <a href="#" type="button" class="btn btn-lg btn-primary call-modal" title="Edit profile"
                                    data-modal-size="lg"><span id="edit_text">Edit Profile</span>
                                    <div class="hidden-content">

                                        <!-- <div class="container"> -->
                                        <form action="" id="edit-profile">
                                            <p id="error-message"></p>
                                            <p id="success-message"></p>

                                            <div class="row">
                                                <div class="col-md-6 formCol">
                                                    <div class="form-group">
                                                        <label for="first name" class="super-label">
                                                            First name
                                                        </label>
                                                        <div style="position: relative;">
                                                            <input type="text" placeholder="Genesis"
                                                                class="form-control" id="first-name"
                                                                aria-describedby="nameHelp">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 formCol">
                                                    <div class="form-group">
                                                        <div style="position: relative;">
                                                            <label for="lastname" class="super-label">
                                                                Last name
                                                            </label>
                                                            <input type="text" placeholder="Anosike"
                                                                class="form-control" id="last-name"
                                                                aria-describedby="nameHelp">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 formCol">
                                                    <div class="form-group">
                                                        <div style="position: relative;">
                                                            <label for="email" class="super-label">
                                                                Email
                                                            </label>
                                                            <input type="email" placeholder="anosikegenesis@gmail.com"
                                                                class="form-control" id="email"
                                                                aria-describedby="emailHelp">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 formCol">
                                                    <div class="form-group">
                                                        <div style="position: relative;">
                                                            <label for="location" class="super-label">
                                                                Location
                                                            </label>
                                                            <input type="text" placeholder="Ibadan, Nigeria"
                                                                class="form-control" id="location"
                                                                aria-describedby="locationHelp">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <hr>

                                            <div class="skills-choice">
                                                <div class="row">
                                                    <div class="col-md-6 tracks formCol">
                                                        <label class="super-label"
                                                            for="exampleFormControl">Track(s)</label>

                                                        <div class="form-group form-check">
                                                            <input type="checkbox" class="form-check-input noHover"
                                                                id="Backend" value="Backend Development">
                                                            <label class="form-check-label" for="exampleCheck1">Backend
                                                                Development</label>
                                                        </div>
                                                        <div class="form-group form-check">
                                                            <input type="checkbox" class="form-check-input noHover"
                                                                id="design" value="UI/UX Design">
                                                            <label class="form-check-label" for="exampleCheck1">UI/UX
                                                                Design</label>
                                                        </div>
                                                        <div class="form-group form-check">
                                                            <input type="checkbox" class="form-check-input noHover"
                                                                id="frontend" value="frontend">
                                                            <label class="form-check-label" for="exampleCheck1">Frontend
                                                                Development</label>
                                                        </div>
                                                        <div class="form-group form-check">
                                                            <input type="checkbox" class="form-check-input noHover"
                                                                id="mobile" value="Mobile Development">
                                                            <label class="form-check-label" for="exampleCheck1">Mobile
                                                                Development</label>
                                                        </div>

                                                        <label class="form-group form-check">
                                                            <input type="checkbox" id="Backend"
                                                                value="Backend Development">
                                                            <label class="form-check-label" for="exampleCheck1">
                                                                Backend Development
                                                            </label>
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <label class="form-group form-check">
                                                            <input type="checkbox" checked="checked" id="design"
                                                                value="UI/UX Design">
                                                            <label class="form-check-label" for="exampleCheck1">
                                                                UI/UX Design
                                                            </label>
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <label class="form-group form-check">
                                                            <input type="checkbox" id="frontend" value="frontend">
                                                            <label class="form-check-label" for="exampleCheck1">
                                                                Frontend Development
                                                            </label>
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <label class="form-group form-check">
                                                            <input type="checkbox" id="mobile"
                                                                value="Mobile Development">
                                                            <label class="form-check-label" for="exampleCheck1">
                                                                Mobile Development
                                                            </label>
                                                            <span class="checkmark"></span>
                                                        </label>

                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="exampleFormControlFile1"
                                                                class="super-label">Profile photo</label>
                                                            <div class="file-box">
                                                                <span id="placeholder">profile-pic.png</span>
                                                                <!-- <label for="file" class="btn btn-primary">Browse</label> -->
                                                                <input type="file" class="" placeholder="profile.png"
                                                                    id="file" onchange="Filevalidation()">
                                                                <button type="button" name="button" class="btn"
                                                                    id="file-btn">Browse</button>


                                                            </div>
                                                            <p id="size"> </p>
                                                            <p id="file-message"></p>
                                                        </div>
                                                        <p id="p-text">Recommended dimensions: 200 x 200px
                                                            Maximum file size: 500kb.
                                                            Please add only a professional looking headshot
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="text-center save_profile">
                                                <button type="submit" class="btn btn-lg btn-primary">Save
                                                    profile</button>
                                            </div>


                                        </form>
                                        <!-- </div> -->

                                    </div>

                                </a>
                            </div>

                            <!-- Button trigger modal -->



                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="upload-section mb-3">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="card p-3 curriculum">
                                        <div class="section-title py-2">
                                            <div class="section-name">
                                                <h4>CV</h4>
                                            </div>
                                            <div class="section-icon">
                                                <!-- <img src="../img/iprofile/ant-design_minus-outlined.svg" alt=""> -->
                                                <svg width="16" height="2" viewBox="0 0 16 2" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M15.8261 0H0.173913C0.0782609 0 0 0.0947368 0 0.210526V1.78947C0 1.90526 0.0782609 2 0.173913 2H15.8261C15.9217 2 16 1.90526 16 1.78947V0.210526C16 0.0947368 15.9217 0 15.8261 0Z"
                                                        fill="#084482" />
                                                </svg>


                                            </div>
                                        </div>
                                        <p id="cv-message">File uploaded</p>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <a id="employee-cv" class="btn btn-primary" href="">View file</a>
                                            </div>
                                            <div class="col-md-4"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card p-3 curriculum">
                                        <div class="section-title py-2">
                                            <div class="section-name">
                                                <h4>Portfolio</h4>
                                            </div>
                                            <div class="section-icon">
                                                <div class="modal fade" id="modalRegisterForm" tabindex="-1"
                                                    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header text-center">
                                                                <h4 class="modal-title w-100 font-weight-bold">Upload
                                                                    Portfolio
                                                                </h4>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body mx-3">
                                                                <div class="md-form mb-5">
                                                                    <!-- <i class="fas fa-user prefix grey-text"></i> -->
                                                                    <input type="text" id="title"
                                                                        class="form-control validate">
                                                                    <label data-error="wrong" data-success="right"
                                                                        for="orangeForm-name">Title</label>
                                                                </div>
                                                                <div class="md-form mb-5">
                                                                    <!-- <i class="fas fa-envelope prefix grey-text"></i> -->
                                                                    <input type="text" id="description"
                                                                        class="form-control validate">
                                                                    <label data-error="wrong" data-success="right"
                                                                        for="orangeForm-email">Description</label>
                                                                </div>

                                                                <div class="md-form mb-4">
                                                                    <!-- <i class="fas fa-lock prefix grey-text"></i> -->
                                                                    <input type="url" id="link"
                                                                        class="form-control validate">
                                                                    <label data-error="wrong" data-success="right"
                                                                        for="orangeForm-pass">Link</label>
                                                                </div>

                                                            </div>
                                                            <div class="modal-footer d-flex justify-content-center">
                                                                <button class="btn btn-primary" id="submitPortfolio"
                                                                    onclick="qwerty()">Submit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="text-center">
                                                    <a href="" class="btn btn-default btn-rounded mb-4"
                                                        data-toggle="modal" data-target="#modalRegisterForm"><svg
                                                            width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M9 7V0H7V7H0V9H7V16H9V9H16V7H9Z" fill="#084482" />
                                                        </svg>
                                                    </a>
                                                </div>


                                                <!-- <img src="../img/iprofile/carbon_add.svg" alt="">
                                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9 7V0H7V7H0V9H7V16H9V9H16V7H9Z" fill="#084482"/>
                                                </svg> -->

                                            </div>

                                        </div>
                                        <p>Upload file</p>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <button type="button" class="btn btn-light">View file</button>
                                            </div>
                                            <div class="col-md-4"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <section id="skills" class="mb-3">
                            <div class="card p-4">
                                <div class="section-title py-2">
                                    <div class="section-name">
                                        <h4>Skillsets</h4>
                                    </div>
                                    <div class="section-icon call-modal" title="Add skill" data-modal-size="md"
                                        id="call_modalx">
                                        <!-- <img src="../img/iprofile/carbon_add.svg" alt=""> -->

                                        <div data-toggle="modal" data-target="#exampleModal">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9 7V0H7V7H0V9H7V16H9V9H16V7H9Z" fill="#084482" />
                                            </svg>
                                        </div>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <form id="add-skills">
                                                        <input class="form-control form-control-lg" type="text" placeholder="User">
                                                        <button type="submit" class="btn btn-primary">Add Skill</button>
                                                    </form>
                                                </div>                                        
                                            </div>
                                            </div>
                                        </div>

                                        <!-- <div class="hidden-content">
                                          <form class="form skill_form" name="add_skill" id="">
                                              <div class="form-group row">
                                                <i class="search-icon" aria-hidden="true">
                                                  <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                  <path d="M20.4998 19.4425L14.8373 13.75C16.191 12.1166 16.8635 10.0246 16.7151 7.90838C16.5667 5.79217 15.6089 3.81446 14.0405 2.38603C12.4721 0.95759 10.4137 0.188221 8.29285 0.237722C6.17203 0.287223 4.15178 1.15179 2.65172 2.65185C1.15167 4.1519 0.287101 6.17215 0.2376 8.29297C0.188099 10.4138 0.957468 12.4722 2.3859 14.0406C3.81434 15.609 5.79205 16.5669 7.90825 16.7153C10.0245 16.8637 12.1165 16.1912 13.7498 14.8375L19.4423 20.5L20.4998 19.4425ZM1.74984 8.49996C1.74984 7.16494 2.14572 5.85989 2.88742 4.74986C3.62912 3.63983 4.68332 2.77467 5.91673 2.26377C7.15013 1.75288 8.50733 1.61921 9.8167 1.87966C11.1261 2.14011 12.3288 2.78299 13.2728 3.72699C14.2168 4.67099 14.8597 5.87373 15.1201 7.1831C15.3806 8.49247 15.2469 9.84967 14.736 11.0831C14.2251 12.3165 13.36 13.3707 12.2499 14.1124C11.1399 14.8541 9.83486 15.25 8.49984 15.25C6.70963 15.25 4.99274 14.5388 3.72687 13.2729C2.461 12.0071 1.74984 10.2902 1.74984 8.49996Z" fill="#4C5059"/>
                                                  </svg>
                                                </i>
                                                <i class="angle-down-icon add_skill_show" aria-hidden="true" role="button" data-showoption="add_skill" data-toggle="collapse" data-target="#collapseOption" aria-expanded="false" aria-controls="collapseOption">
                                                  <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 1L5 5L9 1" stroke="#337AB7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                </i>
                                              <input type="text" name="skill" value="" data-selected = "add_skill" class="form-control skill" placeholder="User" id="" autocomplete="off">
                                              </div>
                                              <div class="skill_options row form-group collapse" id="collapseOption">
                                              </div>
                                                <button data-formname="add_skill" data-method="POST" data-url="/mylink" class="btn btn-pry submit_now mx-auto" id="add_skill_btn">Add skill</button>
                                                <button class="btn btn-pry mx-auto loading hide_button" id="add_skill_loader">
                                                  <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                                  <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                                  <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                                </button>
                                          </form>
                                        </div> -->

                                    </div>

                                </div>
                                <ul class='lists'>
                                    <p id="skill-message"></p>
                                    <!-- Dynamic Content Goes Here -->
                                </ul>
                            </div>
                        </section>


                    </div>
                </div>
            </div>

        </section>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/bootstrap-js/jquery.js"></script>
    <script src="/js/bootstrap-js/popper.js"></script>
    <script src="/js/custom-js/employees-profile.js"></script>
    <script src="/js/custom-js/modal.js"></script>
    <script src="/js/bootstrap-js/bootstrap.js"></script>
    <script src="/js/custom-js/side-nav.js"></script>
    <script src="/js/custom-js/eprofile.js"></script>
    <script src="/js/custom-js/employee-portfolio.js"></script>
</body>
</html>