<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../Templates/head') %>
    <link rel="stylesheet" href="styles/custom-css/employee-signUp-signIn.css">
</head>

<body>
    <!-- NAV-BAR -->
    <%- include('../Templates/header') %>

    <main class="container-fluid content-container">
        <div class="row">
            <div class="col-lg-5 d-none d-lg-block signIn-img-div" >
                <!-- <img src="img/employee_signup_image.png" alt="employee sign up image"> -->
            </div>

            <div class=" col-lg-7 px-4">  
                <div class="container pl-lg-5 pr-lg-3 pt-4" id="parent">
                <div class="pt-5 pb-2">
                    <p class="bigTitle">Welcome Back</p>
                    <p class="smallTitle">Get connected to the right job now.</p>
                </div>

                <form class="needs-validation" novalidate id="form">

                    <div class="col-md mb-3 px-0">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="example@gmail.com" required>
                        <div class="invalid-feedback">
                            Your valid email address is required.
                        </div>
                    </div>


                    <div class="col-md mb-3 px-0">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" minlength="8" placeholder="at least 8 characters" required>
                        <div class="invalid-feedback" style="width: 100%;">
                            Your have not entered a correct password.
                        </div>
                    </div>
                

                    <div class="row px-3" >
                        <div class="col my-1 px-0">
                            <div class="custom-control custom-checkbox mr-sm-2" >
                                <input type="checkbox" class="custom-control-input" id="remember-me">
                                <label class="custom-control-label terms-policy" for="remember-me">Remember me</label>
                            </div>
                        </div>
                        <div class="col text-right px-0">
                            <p> <a href="/recover-password" class="login-link">Forgot Password?</a></p>
                        </div>
                    </div>


                    <div class="row" >
                        <div class="col d-flex align-items-center justify-content-center" id="button-div">
                            <button class="btn btn-primary btn-block btn-color py-3 mt-3 mb-4" id="signup-btn" type="submit">Sign In</button>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-md-5 d-none d-md-block">
                        <hr>
                    </div>
                    <div class="col-md-2">
                        <p class="text-center">OR</p>
                    </div>
                    <div class="col-md-5 d-none d-md-block">
                        <hr>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md">
                        <button type="button" class="btn  btn-block  facebook-btn py-3 my-1"><i
                                class="fab fa-facebook-f pr-2"></i>Login with facebook</button>
                    </div>

                    <div class="col-md">
                        <button type="button" class="btn btn-block  google-btn py-3 my-1"><i
                                class="fab fa-google pr-2"></i>Login with Google</button>
                    </div>
                </div>

                <p class="text-center py-2">Don't have an account with us? <a href="/employee-sign-up" class="login-link">Sign Up.</a></p>
            </div>
        </div>
        </div>
    </main>

    <%- include('../Templates/footer') %>
    <!-- Employee sign in script -->
    <script src="js/custom-js/employee-sign-in.js"></script>

</body>
</html>