<!DOCTYPE html>
<html>
	<head>
		<%- include('../Templates/head') %>
		<link rel="stylesheet" href="../styles/custom-css/employer company1.css" />
	</head>
	<body>
		<!-- NAV-BAR -->
		<%- include('../Templates/employerhead') %>

		<main>
			<!-- <div class="mt-5">
        <div class="container text-center">
           <h5 class="heading-color">Let’s get started with a few details about your company</h5>
           <div class="mt-5 d-flex justify-content-center">
             <div class="form-check radio-select">
                 <input class="form-check-input vector" type="radio" name="nav" id="nav1" value="option1">
              </div>
              <img src="/img/Connector.png" alt="">

              <div class="form-check radio-select">
                 <input class="form-check-input size vector" onclick="window.location='/src/employer profile creation (company)/employer-company2.html';" type="radio" name="nav" id="nav2" value="option1">
              </div>
           </div>
        </div>
    </div> -->
       <form id="employerCompany">
			<div class="mt-5">
				<div class="container text-center">
					<h5 class="heading-color">
						Let’s get started with a few details about your company
					</h5>
					<div class="container pt-5 center">
						<div class="row">
							<div class="col-sm-2"></div>
							<div class="col-sm col-">
								<div class="form-progress">
									<div class="center">
										<progress
											class="form-progress-bar"
											min="0"
											max="33"
											value="0"
											step="33"
											aria-labelledby="form-progress-completion"
										></progress>
										<div class="form-progress-indicator one active">
											<i class="text-default mb-2 fa-2x fa fa-check-circle" aria-hidden="true"></i>
										</div>
										<div class="form-progress-indicator two">
											<i class="text-default mb-2 fa-2x fa fa-circle-thin" aria-hidden="true"></i>
										</div>
										<p id="form-progress-completion" class="js-form-progress-completion sr-only" aria-live="polite">
											0% complete
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="details" class="mt-5">
				<div class="container">
					<h5 class="heading-color">Company Details</h5>
					<div class="row mt-5">
						<div class="col-sm-6 col-lg-6 form-group">
							<label for="companyname">Name of Company</label>
							<input type="text" class="form-control em-input" id="companyname" placeholder="Enter name of company" />
						</div>
						<div class="col-sm-6 col-lg-6 form-group">
							<label for="company category">Company category</label>
							<select class="form-control em-input select" name="company-category" id="company-category">
								<option disabled selected value="empty">Select Category</option>
								<!-- content goes here -->
							</select>
						</div>
						<!-- <div class="col-sm-4 col-lg-4 form-group">
                 <label for="industry">Industry</label>
                 <select class="form-control em-input select" name="industry" id="industry">
                     <option value="blank">Select Industry</option>
                     <option value="frontend">Frontend</option>
                     <option value="backend">Backend</option>
                     <option value="Design">Design</option>
                     <option value="mobile">Mobile</option>
                 </select>
             </div> -->
						<!-- <div class="col-sm-4 col-lg-4 form-group">
                 <label for="companytype">Company Type</label>
                 <select class="form-control em-input select" name="companytype" id="companytype">
                     <option value="blank">Select company type</option>
                     <option value="frontend">Private</option>
                     <option value="backend">Public</option>
                     <option value="Design">International</option>
                     <option value="mobile">Local</option>
                 </select>
             </div> -->
					</div>

					<div class="row mt-5">
						<div class="col-sm-4 col-lg-4 form-group">
							<label for="companyaddress">Company's Address</label>
							<input type="text" class="form-control em-input" id="companyaddress" placeholder="Enter address" />
						</div>
						<div class="col-sm-4 col-lg-4 form-group align-padding">
							<label for="companyemail">Company's Email</label>
							<input type="text" class="form-control em-input" id="companyemail" placeholder="Enter email" />
						</div>
						<div class="col-sm-4 col-lg-4 form-group">
							<label for="companyphone">Company's Phone No</label>
							<input type="text" class="form-control em-input" id="companyphone" placeholder="Enter phone no" />
						</div>
					</div>
					<hr class="mt-5" />
				</div>
			</div>

			<div id="profile" class="mt-5">
				<div class="container">
					<h5 class="heading-color pt-3">Profile Details</h5>

					<!-- <div class="row mt-5">
             <div class="col-sm-5 col-md-6 col-lg-6">
                 <label for="tag">Tagline</label>
                 <input type="text" class="form-control em-input" id="tag" placeholder="Enter your company’s tagline">                
             </div>
         </div> -->
					<div class="row mt-5">
						<div class="col-sm-5 col-md-6 col-lg-6 mb-4">
							<label for="desc">Short Description</label>
							<textarea class="form-control em-input" name="desc" id="desc" cols="30" rows="6"></textarea>
						</div>
					</div>

					<div class="row mt-5">
						<div class="col-sm-6 col-md-7 col-lg-7">
							<label for="logo">Logo <span  id="logoname"></span></label>
							<div class="d-flex">
								<div class="btn new-btn ml-2 btn-block">
									<input type="file" name="logo" id="logo" accept="image/png, image/jpg, image/jpeg" onchange="showFile()"/>
									Browse
								</div>
							</div>
							<span class="small">300 x 300px recommended. JPGs and PNG supported</span>
						</div>
					</div>
					<hr class="mt-5" />
				</div>
			</div>

			<div id="networks" class="mt-5">
				<div class="container">
					<h5 class="heading-color pt-3">Social Networks</h5>
					<div class="row mt-5">
						<div class="col-sm-4 col-lg-4 form-group">
							<label for="website">Website</label>
							<input type="text" class="form-control em-input" id="website" placeholder="Enter website url" />
						</div>
						<div class="col-sm-4 col-lg-4 form-group">
							<label for="linkedin">LinkedIn</label>
							<input type="text" class="form-control em-input" id="linkedin" placeholder="Enter linkedin url" />
						</div>
						<div class="col-sm-4 col-lg-4 form-group">
							<label for="facebook">Facebook</label>
							<input type="text" class="form-control em-input" id="facebook" placeholder="Enter facebook url" />
						</div>
					</div>
					<div class="row mt-5">
						<div class="col-sm-4 col-lg-4 form-group">
							<label for="twitter">Twitter</label>
							<input type="text" class="form-control em-input" id="twitter" placeholder="Enter twitter url" />
						</div>
						<div class="col-sm-8 col-lg-8 form-group">
							<label for="instagram">Instagram</label>
							<input type="text" class="form-control em-input" id="instagram" placeholder="Enter instagram url" />
						</div>
					</div>
				</div>
			</div>

			<div class=" container alert alert-danger d-none" style="padding: 0.5rem 1rem;" id="alert" role="alert">
				<p class="my-0" id="alertMessage"></p>
			  </div>

			<div class="mt-5 mb-5 pb-5">
				<div class="container text-right">
					<button class="btn new-btn mb-5"  type="submit">Create</button>
				</div>
			</div>
			</form>
		</main>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="../js/custom-js/employer-company.js"></script>
		<!-- <script type="module" src="js/custom-js/employer-profile-creation.js"></script> -->
		<%- include('../Templates/footer') %>
	</body>
</html>
