<!DOCTYPE html>

<html lang="en">

<head>
    <%- include('../Templates/head') %>

</head>

<body style="background-color: #fafafa;">
    <script src="/js/custom-js/logout.js"></script>
</body>

</html>