<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <%- include('../Templates/head.ejs') %>
    <link rel="stylesheet" href="styles/custom-css/pricePayment.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
    />
  </head>
  
  <body> 
    <%- include('../Templates/header.ejs') %>

<!-- Page Content -->
<div class="price-payment">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="plan">
                    <div class="content">
                        <div class="text-center">
                            <h3>Basic</h3>
                            <p><span>$849</span>/month</p>
                        </div>

                        <ul>
                            <li><i class="fa fa-check"></i> Internal assistant to help you find talent faster</li>
                            <li><i class="fa fa-check"></i> Free access to our collaboration tool for your team.</li>
                            <li><i class="fa fa-check"></i> Interact with our top most talent only</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="pay-now__form">
                    <div class="content">
                        <div class="top-bar__content">
                            <h4>Summary</h4>
                            <p class="space-between"><span>Subtotal</span><span>$849</span></p>
                            <p class="space-between"><span>Service Fee</span><span>$20</span></p>
                            <p class="space-between"><span>Total</span><span>$869</span></p>
                        </div>
                        <div class="bottom-bar__content">
                            <h4>Payment Methods</h4>
                            <div class="payment-cards">
                                <div class="img-container" onclick="toggleForm('visa-card__form')">
                                    <img src="img/visa-cropped__image.png" />
                                </div>
                                <div class="img-container" onclick="toggleForm('master-card__form')">
                                    <img src="img/mastercard-image.png" />
                                </div>
                                <div class="img-container" onclick="toggleForm('paypal__form')">
                                    <img src="img/paypal-image.png" />
                                </div>
                            </div>
                            <div id="visa-card__form" class="form animate__animated animate__fadeIn show-form">
                                <form id="devugo-form" action="/action_page.php">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <label for="card-number">CARD NUMBER*</label>
                                                <input type="number" name="card-number" id="card-number" placeholder="XXXX-XXXX-XXXX-XXXX" class="form-control" id="card-number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="">
                                                <label for="expiration-date">EXPIRATION DATE*</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="number" placeholder="03" class="form-control" id="expiration-date__month">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="number" min="2020" class="form-control" placeholder="-- Year --" id="expiration-date__year">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="cvv">CVV*</label>
                                                <input placeholder="039" type="number" class="form-control" id="cvv">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-default">Pay Now</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="master-card__form" class="form animate__animated animate__fadeIn">
                                <form action="/action_page.php">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <label for="card-number">CARD NUMBER*</label>
                                                <input type="text" name="card-number" placeholder="XXXX-XXXX-XXXX-XXXX" class="form-control" id="card-number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="">
                                                <label for="expiration-date">EXPIRATION DATE*</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" placeholder="03" class="form-control" id="expiration-date__month">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="number" min="2020" class="form-control" placeholder="-- Year --" id="expiration-date__year">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="cvc">CVC*</label>
                                                <input placeholder="039" type="text" class="form-control" id="cvc">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-default">Pay Now</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="paypal__form" class="form animate__animated animate__fadeIn">
                                <form action="/action_page.php">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <label for="card-number">CARD NUMBER*</label>
                                                <input type="text" name="card-number" placeholder="XXXX-XXXX-XXXX-XXXX" class="form-control" id="card-number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="">
                                                <label for="expiration-date">EXPIRATION DATE*</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" placeholder="03" class="form-control" id="expiration-date__month">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="number" min="2020" class="form-control" placeholder="-- Year --" id="expiration-date__year">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="cvc">CVC*</label>
                                                <input placeholder="039" type="text" class="form-control" id="cvc">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-default">Pay Now</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- /.container -->

  <br><br>
  <%- include('../Templates/footer.ejs') %>
  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        AOS.init();
    </script>
    <script src="js/custom-js/pricePayment.js"></script>
  </body>
</html>