<!DOCTYPE html>

<html lang="en">

<head>
    <%- include('../Templates/head') %>

    <link rel="stylesheet" href="styles/custom-css/Testimony.css">
</head>

<body>
    <!-- NAV-BAR -->
    <%- include('../Templates/header') %>

 <!-- Page Content -->
 <div class="testimonial-wrapper">
    <div class="pt-5 container">

      <h1 class="text-center mb-0 h1-head">TESTIMONIALS</h1>
      <p class="text-center sub-head" >See what recruiters have to say about our internship graduates</p>
  
      <div class="testimony-content-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-4 testimony mb-4">
              <div class="testimony-content">
                <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.36069 8.75852C8.36069 7.70193 7.50346 6.8447 6.44687 6.8447H4.21407C3.68577 6.8447 3.25716 6.41608 3.25716 5.88779V5.56881C3.25716 4.16335 4.40346 3.01705 5.80892 3.01705H6.44687C6.79574 3.01705 7.08481 2.72798 7.08481 2.3791V1.10322C7.08481 0.754346 6.79574 0.465279 6.44687 0.465279H5.80892C2.99799 0.465279 0.705388 2.75788 0.705388 5.56881V12.5862C0.705388 13.6428 1.56262 14.5 2.61921 14.5H6.44687C7.50346 14.5 8.36069 13.6428 8.36069 12.5862V8.75852ZM17.2919 8.75852C17.2919 7.70193 16.4346 6.8447 15.3781 6.8447H13.1453C12.617 6.8447 12.1883 6.41608 12.1883 5.88779V5.56881C12.1883 4.16335 13.3346 3.01705 14.7401 3.01705H15.3781C15.7269 3.01705 16.016 2.72798 16.016 2.3791V1.10322C16.016 0.754346 15.7269 0.465279 15.3781 0.465279H14.7401C11.9292 0.465279 9.63657 2.75788 9.63657 5.56881V12.5862C9.63657 13.6428 10.4938 14.5 11.5504 14.5H15.3781C16.4346 14.5 17.2919 13.6428 17.2919 12.5862V8.75852Z" fill="#00AEFF"/>
                </svg>
                    
                <img class="d-block mx-auto" src="img/Testimony1.png" alt="">
                <p class="head-content">I've had an amazing success with HNG TalentPoolin the past. As the product has grown. its still easy to use,
                    while still being deep and capable
                </p>
                <p class="head-content">Emily Paige</p>
                <p class="head-content"> <b> HR Manager, TFD</b></p>
                
                <div class="text-right">
                  <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.63907 9.25852C9.63907 8.20193 10.4963 7.3447 11.5529 7.3447H13.7857C14.314 7.3447 14.7426 6.91608 14.7426 6.38779V6.06881C14.7426 4.66335 13.5963 3.51705 12.1908 3.51705H11.5529C11.204 3.51705 10.9149 3.22798 10.9149 2.8791V1.60322C10.9149 1.25435 11.204 0.965279 11.5529 0.965279H12.1908C15.0018 0.965279 17.2944 3.25788 17.2944 6.06881V13.0862C17.2944 14.1428 16.4371 15 15.3805 15H11.5529C10.4963 15 9.63907 14.1428 9.63907 13.0862V9.25852ZM0.707879 9.25852C0.707879 8.20193 1.56511 7.3447 2.62171 7.3447H4.8545C5.3828 7.3447 5.81141 6.91608 5.81141 6.38779V6.06881C5.81141 4.66335 4.66511 3.51705 3.25965 3.51705H2.62171C2.27283 3.51705 1.98376 3.22798 1.98376 2.8791V1.60322C1.98376 1.25435 2.27283 0.965279 2.62171 0.965279H3.25965C6.07058 0.965279 8.36318 3.25788 8.36318 6.06881V13.0862C8.36318 14.1428 7.50595 15 6.44936 15H2.62171C1.56511 15 0.707879 14.1428 0.707879 13.0862V9.25852Z" fill="#00AEFF"/>
                  </svg>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 testimony mb-4">
              <div class="testimony-content">
                <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.36069 8.75852C8.36069 7.70193 7.50346 6.8447 6.44687 6.8447H4.21407C3.68577 6.8447 3.25716 6.41608 3.25716 5.88779V5.56881C3.25716 4.16335 4.40346 3.01705 5.80892 3.01705H6.44687C6.79574 3.01705 7.08481 2.72798 7.08481 2.3791V1.10322C7.08481 0.754346 6.79574 0.465279 6.44687 0.465279H5.80892C2.99799 0.465279 0.705388 2.75788 0.705388 5.56881V12.5862C0.705388 13.6428 1.56262 14.5 2.61921 14.5H6.44687C7.50346 14.5 8.36069 13.6428 8.36069 12.5862V8.75852ZM17.2919 8.75852C17.2919 7.70193 16.4346 6.8447 15.3781 6.8447H13.1453C12.617 6.8447 12.1883 6.41608 12.1883 5.88779V5.56881C12.1883 4.16335 13.3346 3.01705 14.7401 3.01705H15.3781C15.7269 3.01705 16.016 2.72798 16.016 2.3791V1.10322C16.016 0.754346 15.7269 0.465279 15.3781 0.465279H14.7401C11.9292 0.465279 9.63657 2.75788 9.63657 5.56881V12.5862C9.63657 13.6428 10.4938 14.5 11.5504 14.5H15.3781C16.4346 14.5 17.2919 13.6428 17.2919 12.5862V8.75852Z" fill="#00AEFF"/>
                </svg>
                    
                <img class="d-block mx-auto" src="img/Testimony1.png" alt="">
                <p class="head-content">I've had an amazing success with HNG TalentPoolin the past. As the product has grown. its still easy to use,
                    while still being deep and capable
                </p>
                <p class="head-content">Emily Paige</p>
                <p class="head-content"> <b> HR Manager, TFD</b></p>
                
                <div class="text-right">
                  <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.63907 9.25852C9.63907 8.20193 10.4963 7.3447 11.5529 7.3447H13.7857C14.314 7.3447 14.7426 6.91608 14.7426 6.38779V6.06881C14.7426 4.66335 13.5963 3.51705 12.1908 3.51705H11.5529C11.204 3.51705 10.9149 3.22798 10.9149 2.8791V1.60322C10.9149 1.25435 11.204 0.965279 11.5529 0.965279H12.1908C15.0018 0.965279 17.2944 3.25788 17.2944 6.06881V13.0862C17.2944 14.1428 16.4371 15 15.3805 15H11.5529C10.4963 15 9.63907 14.1428 9.63907 13.0862V9.25852ZM0.707879 9.25852C0.707879 8.20193 1.56511 7.3447 2.62171 7.3447H4.8545C5.3828 7.3447 5.81141 6.91608 5.81141 6.38779V6.06881C5.81141 4.66335 4.66511 3.51705 3.25965 3.51705H2.62171C2.27283 3.51705 1.98376 3.22798 1.98376 2.8791V1.60322C1.98376 1.25435 2.27283 0.965279 2.62171 0.965279H3.25965C6.07058 0.965279 8.36318 3.25788 8.36318 6.06881V13.0862C8.36318 14.1428 7.50595 15 6.44936 15H2.62171C1.56511 15 0.707879 14.1428 0.707879 13.0862V9.25852Z" fill="#00AEFF"/>
                  </svg>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 testimony mb-4">
              <div class="testimony-content">
                <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.36069 8.75852C8.36069 7.70193 7.50346 6.8447 6.44687 6.8447H4.21407C3.68577 6.8447 3.25716 6.41608 3.25716 5.88779V5.56881C3.25716 4.16335 4.40346 3.01705 5.80892 3.01705H6.44687C6.79574 3.01705 7.08481 2.72798 7.08481 2.3791V1.10322C7.08481 0.754346 6.79574 0.465279 6.44687 0.465279H5.80892C2.99799 0.465279 0.705388 2.75788 0.705388 5.56881V12.5862C0.705388 13.6428 1.56262 14.5 2.61921 14.5H6.44687C7.50346 14.5 8.36069 13.6428 8.36069 12.5862V8.75852ZM17.2919 8.75852C17.2919 7.70193 16.4346 6.8447 15.3781 6.8447H13.1453C12.617 6.8447 12.1883 6.41608 12.1883 5.88779V5.56881C12.1883 4.16335 13.3346 3.01705 14.7401 3.01705H15.3781C15.7269 3.01705 16.016 2.72798 16.016 2.3791V1.10322C16.016 0.754346 15.7269 0.465279 15.3781 0.465279H14.7401C11.9292 0.465279 9.63657 2.75788 9.63657 5.56881V12.5862C9.63657 13.6428 10.4938 14.5 11.5504 14.5H15.3781C16.4346 14.5 17.2919 13.6428 17.2919 12.5862V8.75852Z" fill="#00AEFF"/>
                </svg>
                    
                <img class="d-block mx-auto" src="img/Testimony1.png" alt="">
                <p class="head-content">I've had an amazing success with HNG TalentPoolin the past. As the product has grown. its still easy to use,
                    while still being deep and capable
                </p>
                <p class="head-content">Emily Paige</p>
                <p class="head-content"> <b> HR Manager, TFD</b></p>
                
                <div class="text-right">
                  <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.63907 9.25852C9.63907 8.20193 10.4963 7.3447 11.5529 7.3447H13.7857C14.314 7.3447 14.7426 6.91608 14.7426 6.38779V6.06881C14.7426 4.66335 13.5963 3.51705 12.1908 3.51705H11.5529C11.204 3.51705 10.9149 3.22798 10.9149 2.8791V1.60322C10.9149 1.25435 11.204 0.965279 11.5529 0.965279H12.1908C15.0018 0.965279 17.2944 3.25788 17.2944 6.06881V13.0862C17.2944 14.1428 16.4371 15 15.3805 15H11.5529C10.4963 15 9.63907 14.1428 9.63907 13.0862V9.25852ZM0.707879 9.25852C0.707879 8.20193 1.56511 7.3447 2.62171 7.3447H4.8545C5.3828 7.3447 5.81141 6.91608 5.81141 6.38779V6.06881C5.81141 4.66335 4.66511 3.51705 3.25965 3.51705H2.62171C2.27283 3.51705 1.98376 3.22798 1.98376 2.8791V1.60322C1.98376 1.25435 2.27283 0.965279 2.62171 0.965279H3.25965C6.07058 0.965279 8.36318 3.25788 8.36318 6.06881V13.0862C8.36318 14.1428 7.50595 15 6.44936 15H2.62171C1.56511 15 0.707879 14.1428 0.707879 13.0862V9.25852Z" fill="#00AEFF"/>
                  </svg>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 testimony mb-4">
              <div class="testimony-content">
                <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.36069 8.75852C8.36069 7.70193 7.50346 6.8447 6.44687 6.8447H4.21407C3.68577 6.8447 3.25716 6.41608 3.25716 5.88779V5.56881C3.25716 4.16335 4.40346 3.01705 5.80892 3.01705H6.44687C6.79574 3.01705 7.08481 2.72798 7.08481 2.3791V1.10322C7.08481 0.754346 6.79574 0.465279 6.44687 0.465279H5.80892C2.99799 0.465279 0.705388 2.75788 0.705388 5.56881V12.5862C0.705388 13.6428 1.56262 14.5 2.61921 14.5H6.44687C7.50346 14.5 8.36069 13.6428 8.36069 12.5862V8.75852ZM17.2919 8.75852C17.2919 7.70193 16.4346 6.8447 15.3781 6.8447H13.1453C12.617 6.8447 12.1883 6.41608 12.1883 5.88779V5.56881C12.1883 4.16335 13.3346 3.01705 14.7401 3.01705H15.3781C15.7269 3.01705 16.016 2.72798 16.016 2.3791V1.10322C16.016 0.754346 15.7269 0.465279 15.3781 0.465279H14.7401C11.9292 0.465279 9.63657 2.75788 9.63657 5.56881V12.5862C9.63657 13.6428 10.4938 14.5 11.5504 14.5H15.3781C16.4346 14.5 17.2919 13.6428 17.2919 12.5862V8.75852Z" fill="#00AEFF"/>
                </svg>
                    
                <img class="d-block mx-auto" src="img/Testimony1.png" alt="">
                <p class="head-content">I've had an amazing success with HNG TalentPoolin the past. As the product has grown. its still easy to use,
                    while still being deep and capable
                </p>
                <p class="head-content">Emily Paige</p>
                <p class="head-content"> <b> HR Manager, TFD</b></p>
                
                <div class="text-right">
                  <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.63907 9.25852C9.63907 8.20193 10.4963 7.3447 11.5529 7.3447H13.7857C14.314 7.3447 14.7426 6.91608 14.7426 6.38779V6.06881C14.7426 4.66335 13.5963 3.51705 12.1908 3.51705H11.5529C11.204 3.51705 10.9149 3.22798 10.9149 2.8791V1.60322C10.9149 1.25435 11.204 0.965279 11.5529 0.965279H12.1908C15.0018 0.965279 17.2944 3.25788 17.2944 6.06881V13.0862C17.2944 14.1428 16.4371 15 15.3805 15H11.5529C10.4963 15 9.63907 14.1428 9.63907 13.0862V9.25852ZM0.707879 9.25852C0.707879 8.20193 1.56511 7.3447 2.62171 7.3447H4.8545C5.3828 7.3447 5.81141 6.91608 5.81141 6.38779V6.06881C5.81141 4.66335 4.66511 3.51705 3.25965 3.51705H2.62171C2.27283 3.51705 1.98376 3.22798 1.98376 2.8791V1.60322C1.98376 1.25435 2.27283 0.965279 2.62171 0.965279H3.25965C6.07058 0.965279 8.36318 3.25788 8.36318 6.06881V13.0862C8.36318 14.1428 7.50595 15 6.44936 15H2.62171C1.56511 15 0.707879 14.1428 0.707879 13.0862V9.25852Z" fill="#00AEFF"/>
                  </svg>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 testimony mb-4">
              <div class="testimony-content">
                <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.36069 8.75852C8.36069 7.70193 7.50346 6.8447 6.44687 6.8447H4.21407C3.68577 6.8447 3.25716 6.41608 3.25716 5.88779V5.56881C3.25716 4.16335 4.40346 3.01705 5.80892 3.01705H6.44687C6.79574 3.01705 7.08481 2.72798 7.08481 2.3791V1.10322C7.08481 0.754346 6.79574 0.465279 6.44687 0.465279H5.80892C2.99799 0.465279 0.705388 2.75788 0.705388 5.56881V12.5862C0.705388 13.6428 1.56262 14.5 2.61921 14.5H6.44687C7.50346 14.5 8.36069 13.6428 8.36069 12.5862V8.75852ZM17.2919 8.75852C17.2919 7.70193 16.4346 6.8447 15.3781 6.8447H13.1453C12.617 6.8447 12.1883 6.41608 12.1883 5.88779V5.56881C12.1883 4.16335 13.3346 3.01705 14.7401 3.01705H15.3781C15.7269 3.01705 16.016 2.72798 16.016 2.3791V1.10322C16.016 0.754346 15.7269 0.465279 15.3781 0.465279H14.7401C11.9292 0.465279 9.63657 2.75788 9.63657 5.56881V12.5862C9.63657 13.6428 10.4938 14.5 11.5504 14.5H15.3781C16.4346 14.5 17.2919 13.6428 17.2919 12.5862V8.75852Z" fill="#00AEFF"/>
                </svg>
                    
                <img class="d-block mx-auto" src="img/Testimony1.png" alt="">
                <p class="head-content">I've had an amazing success with HNG TalentPoolin the past. As the product has grown. its still easy to use,
                    while still being deep and capable
                </p>
                <p class="head-content">Emily Paige</p>
                <p class="head-content"> <b> HR Manager, TFD</b></p>
                
                <div class="text-right">
                  <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.63907 9.25852C9.63907 8.20193 10.4963 7.3447 11.5529 7.3447H13.7857C14.314 7.3447 14.7426 6.91608 14.7426 6.38779V6.06881C14.7426 4.66335 13.5963 3.51705 12.1908 3.51705H11.5529C11.204 3.51705 10.9149 3.22798 10.9149 2.8791V1.60322C10.9149 1.25435 11.204 0.965279 11.5529 0.965279H12.1908C15.0018 0.965279 17.2944 3.25788 17.2944 6.06881V13.0862C17.2944 14.1428 16.4371 15 15.3805 15H11.5529C10.4963 15 9.63907 14.1428 9.63907 13.0862V9.25852ZM0.707879 9.25852C0.707879 8.20193 1.56511 7.3447 2.62171 7.3447H4.8545C5.3828 7.3447 5.81141 6.91608 5.81141 6.38779V6.06881C5.81141 4.66335 4.66511 3.51705 3.25965 3.51705H2.62171C2.27283 3.51705 1.98376 3.22798 1.98376 2.8791V1.60322C1.98376 1.25435 2.27283 0.965279 2.62171 0.965279H3.25965C6.07058 0.965279 8.36318 3.25788 8.36318 6.06881V13.0862C8.36318 14.1428 7.50595 15 6.44936 15H2.62171C1.56511 15 0.707879 14.1428 0.707879 13.0862V9.25852Z" fill="#00AEFF"/>
                  </svg>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 testimony mb-4">
              <div class="testimony-content">
                <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.36069 8.75852C8.36069 7.70193 7.50346 6.8447 6.44687 6.8447H4.21407C3.68577 6.8447 3.25716 6.41608 3.25716 5.88779V5.56881C3.25716 4.16335 4.40346 3.01705 5.80892 3.01705H6.44687C6.79574 3.01705 7.08481 2.72798 7.08481 2.3791V1.10322C7.08481 0.754346 6.79574 0.465279 6.44687 0.465279H5.80892C2.99799 0.465279 0.705388 2.75788 0.705388 5.56881V12.5862C0.705388 13.6428 1.56262 14.5 2.61921 14.5H6.44687C7.50346 14.5 8.36069 13.6428 8.36069 12.5862V8.75852ZM17.2919 8.75852C17.2919 7.70193 16.4346 6.8447 15.3781 6.8447H13.1453C12.617 6.8447 12.1883 6.41608 12.1883 5.88779V5.56881C12.1883 4.16335 13.3346 3.01705 14.7401 3.01705H15.3781C15.7269 3.01705 16.016 2.72798 16.016 2.3791V1.10322C16.016 0.754346 15.7269 0.465279 15.3781 0.465279H14.7401C11.9292 0.465279 9.63657 2.75788 9.63657 5.56881V12.5862C9.63657 13.6428 10.4938 14.5 11.5504 14.5H15.3781C16.4346 14.5 17.2919 13.6428 17.2919 12.5862V8.75852Z" fill="#00AEFF"/>
                </svg>
                    
                <img class="d-block mx-auto" src="img/Testimony1.png" alt="">
                <p class="head-content">I've had an amazing success with HNG TalentPoolin the past. As the product has grown. its still easy to use,
                    while still being deep and capable
                </p>
                <p class="head-content">Emily Paige</p>
                <p class="head-content"> <b> HR Manager, TFD</b></p>
                
                <div class="text-right">
                  <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.63907 9.25852C9.63907 8.20193 10.4963 7.3447 11.5529 7.3447H13.7857C14.314 7.3447 14.7426 6.91608 14.7426 6.38779V6.06881C14.7426 4.66335 13.5963 3.51705 12.1908 3.51705H11.5529C11.204 3.51705 10.9149 3.22798 10.9149 2.8791V1.60322C10.9149 1.25435 11.204 0.965279 11.5529 0.965279H12.1908C15.0018 0.965279 17.2944 3.25788 17.2944 6.06881V13.0862C17.2944 14.1428 16.4371 15 15.3805 15H11.5529C10.4963 15 9.63907 14.1428 9.63907 13.0862V9.25852ZM0.707879 9.25852C0.707879 8.20193 1.56511 7.3447 2.62171 7.3447H4.8545C5.3828 7.3447 5.81141 6.91608 5.81141 6.38779V6.06881C5.81141 4.66335 4.66511 3.51705 3.25965 3.51705H2.62171C2.27283 3.51705 1.98376 3.22798 1.98376 2.8791V1.60322C1.98376 1.25435 2.27283 0.965279 2.62171 0.965279H3.25965C6.07058 0.965279 8.36318 3.25788 8.36318 6.06881V13.0862C8.36318 14.1428 7.50595 15 6.44936 15H2.62171C1.56511 15 0.707879 14.1428 0.707879 13.0862V9.25852Z" fill="#00AEFF"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row pt-5 pb-5">
        <div class="col-md-12 d-block mx-auto text-center">
            <h3>Ready to get started?</h3>
            <button class="btn hire-btn text-white px-5 py-2 mt-2 mb-2">Hire Top Talent</button>
        </div>
      </div>
    </div>
  </div>


    <%- include('../Templates/footer') %>
    <%- include('../Templates/script') %>
    <script src="js/bootstrap-js/popper.js"></script>
    <script src="js/bootstrap-js/jquery.js"></script>
    <script src="js/bootstrap-js/bootstrap.js"></script>
</body>