<!DOCTYPE html>

<html lang="en">

<head>
    <%- include('../Templates/head') %>

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <link rel="stylesheet" href="styles/custom-css/topTalent.css">
</head>

<body>
    <!-- NAV-BAR -->
    <%- include('../Templates/header') %>
    <!--Main-->
    <main>
        <div class="bg-none">
            <div class="bg-img">
                <div class="color">
                    <div class="bg-text">
                        <h3>Our Top Talents</h3>
                        <p>These talents have thrived in their different fields and are frequently hired by companies
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <!--Thumbnails-->
        <div class="container mb-5">
            <div class="row text-center">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="img/top-talent/OhKElOkQ3RE.png" alt="person" class="mb-3">
                        <div class="content">
                            <p class="name">Meyene Udoh</p>
                            <p class="stack">Mobile Developer</p>
                            <p class="small">Lagos, Nigeria</p>
                        </div>
                        <div class="col">
                            <p class="text">Experienced mobile app developer who has a track record of success creating
                                apps that are
                                both well-received and commercially viable.
                                Skilled with working as a team and incorporating input into projects.</p>
                        </div>
                        <button class="details btn">View Details <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </button>
                        <p class="icons"><a class="fa fa-twitter" aria-hidden="true" href="#"></a>&nbsp; &nbsp;<a
                                class="fa fa-dribbble " href="#" aria-hidden="true"></a> &nbsp;&nbsp;<a
                                class="fa fa-behance-square" href="#" aria-hidden="true"></a></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="img/top-talent/OhKElOkQ3RE (1).png" alt="person" class="mb-3">
                        <div class="content">
                            <p class="name">Genesis Anosike</p>
                            <p class="stack ">UI/UX Designer</p>
                            <p class="small">Abuja, Nigeria</p>
                        </div>
                        <div class="col">
                            <p class="text">Experienced mobile app developer who has a track record of success creating
                                apps that
                                are both well-received and commercially viable. Skilled with working as a team and
                                incorporating input
                                into projects.</p>
                        </div>
                        <button class="details btn">View Details <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </button>
                        <p class="icons"><a class="fa fa-twitter" aria-hidden="true" href="#"></a>&nbsp; &nbsp;<a
                                class="fa fa-dribbble " href="#" aria-hidden="true"></a> &nbsp;&nbsp;<a
                                class="fa fa-behance-square" href="#" aria-hidden="true"></a></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="img/top-talent/OhKElOkQ3RE (2).png" alt="person" class="mb-3">
                        <div class="content">
                            <p class="name">Nifemi Adebayo</p>
                            <p class="stack">Backend developer</p>
                            <p class="small">Port Harcourt, Nigeria</p class="small">
                        </div>
                        <div class="col">
                            <p class="text">Experienced mobile app developer who has a track record of success creating
                                apps that are
                                both well-received and commercially viable.
                                Skilled with working as a team and incorporating input into projects..</p>
                        </div>
                        <button class="details btn">View Details <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </button>
                        <p class="icons"><a class="fa fa-twitter" aria-hidden="true" href="#"></a> &nbsp; &nbsp;<a
                                class="fa fa-dribbble" href="#" aria-hidden="true"></a> &nbsp; &nbsp; <a
                                class="fa fa-behance-square" href="#" aria-hidden="true"></a></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="img/top-talent/OhKElOkQ3RE (3).png" alt="person" class="mb-3">
                        <div class="content">
                            <p class="name">Jaden Tega</strong></p>
                            <p class="stack"> UI/UX Designer</p>
                            <p class="small">Delta, Nigeria</p>
                        </div>
                        <div class="col">
                            <p class="text">i implement visual and interactive elements that users engage with through
                                their web browser when using a web application. which are supported by back-end web
                                developer.</p>
                        </div>
                        <button class="details btn">View Details <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </button>
                        <p class="icons"><a class="fa fa-twitter" aria-hidden="true" href="#"></a>&nbsp; &nbsp;<a
                                class="fa fa-dribbble " href="#" aria-hidden="true"></a> &nbsp;&nbsp;<a
                                class="fa fa-behance-square" href="#" aria-hidden="true"></a></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="img/top-talent/OhKElOkQ3RE (6).png" alt="person" class="mb-3">
                        <div class="content">
                            <p class="name">Julia Orji</p>
                            <p class="stack">Frontend Developer</p>
                            <p class="small">Akwa Ibom, Nigeria</p>
                        </div>
                        <div class="col">
                            <p class="text"> i implement visual and interactive elements that users engage with through
                                their web browser when using a web application. which are supported by back-end web
                                developer..</p>
                        </div>
                        <button class="details btn">View Details <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </button>
                        <p class="icons"><a class="fa fa-twitter" aria-hidden="true" href="#"></a>&nbsp; &nbsp;<a
                                class="fa fa-dribbble " href="#" aria-hidden="true"></a> &nbsp;&nbsp;<a
                                class="fa fa-behance-square" href="#" aria-hidden="true"></a></p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="img/top-talent/OhKElOkQ3RE (10).png" alt="person" class="mb-3">
                        <div class="content">
                            <p class="name">Oluwakemi Adeleke</p>
                            <p class="stack">Frontend Developer</p>
                            <p class="small">Lagos, Nigeria</pl>
                        </div>
                        <div class="col">
                            <p class="text">i implement visual and interactive elements that users engage with through
                                their web browser when using a web application. which are supported by back-end web
                                developer..</p>
                        </div>
                        <button class="details btn">View Details <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </button>
                        <p class="icons"><a class="fa fa-twitter" aria-hidden="true" href="#"></a>&nbsp; &nbsp;<a
                                class="fa fa-dribbble " href="#" aria-hidden="true"></a> &nbsp;&nbsp;<a
                                class="fa fa-behance-square" href="#" aria-hidden="true"></a></p>
                    </div>

                </div>
            </div>
    </main>


    <%- include('../Templates/footer') %>
    <%- include('../Templates/script') %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
        <script src="js/bootstrap-js/popper.js"></script>
        <script src="js/bootstrap-js/jquery.js"></script>
        <script src="js/bootstrap-js/bootstrap.js"></script>
</body>