<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../Templates/head') %>
    <link rel="stylesheet" href="../styles/custom-css/forgot-password.css">
</head>

<body class="otp_page">
    <!-- NAV-BAR -->
    <%- include('../../Templates/header') %>

    <div class="container-fluid">
        <div class="form-center">
            <h1>Verification</h1>
            <p>An OTP has been sent to your registered email address</p>
            <form>
                <label for="inputZip">Enter OTP</label>
                <div class="form-row otp-form">
                    <div class="form-group col-md-2 col-sm-2 otp-wrapper ">
                        <span></span>
                        <h6 class="error"></h6>
                        <input type="text" class="form-control otp-input" id="otp" placeholder="e.g 2">
                    </div>
                    <div class="form-group col-md-2 col-sm-2 otp-wrapper">
                        <span></span>
                        <h6 class="error"></h6>
                        <input type="number" class="form-control otp-input" id="otp" placeholder="3">
                    </div>
                    <div class="form-group col-md-2 col-sm-2 otp-wrapper">
                        <span></span>
                        <h6 class="error"></h6>
                        <input type="number" class="form-control otp-input" id="otp" placeholder="4">
                    </div>
                    <div class="form-group col-md-2 col-sm-2 otp-wrapper">
                        <span></span>
                        <h6 class="error"></h6>
                        <input type="number" class="form-control otp-input" id="otp" placeholder="5">
                    </div>
                    <div class="form-group col-md-2 col-sm-2 otp-wrapper">
                        <span></span>
                        <h6 class="error"></h6>
                        <input type="number" class="form-control otp-input" id="otp" placeholder="6">
                    </div>
                    <div class="form-group col-md-2 col-sm-2 otp-wrapper">
                        <span></span>
                        <h6 class="error"></h6>
                        <input type="number" class="form-control otp-input" id="otp" placeholder="7">
                    </div>
                </div>
                <div class="no-code">
                    <h6>Didn't receive a code? <a href="#">Resend</a></h6>
                </div>
                <button type="button" class="btn password-reset-btn btn-lg btn-block" id="verifyOtp">Verify</button>
            </form>
        </div>
    </div>
    <script src="../js/bootstrap-js/popper.js"></script>
    <script src="../js/bootstrap-js/jquery.js"></script>
    <script src="../js/bootstrap-js/bootstrap.js"></script>
    <script src="../js/custom-js/forgot-password.js"></script>

</body>
</html>