<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../Templates/head') %>
    <link rel="stylesheet" href="../styles/custom-css/forgot-password.css">
    <style>
      #error, #error-currentPassword{
          width: 100%;
          align-items: center;
          border: 1px solid rgba(255, 0, 0, 0.329);
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 1em;
          display: none; 

      }
      #error h5,
      #error-currentPassword h5{
        color: red;
        padding: 3px;
        
      }
</style>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body class="pass_reset-page">
    <!-- NAV-BAR -->
    <%- include('../../Templates/header') %>

    <div class="container-fluid">
        <div class="form-center">
            <h1>Update Password</h1>
            <p>For the safety of your account, please enter a strong password</p>
            <form onsubmit="handleSubmit(event);">
                <div class="" id="error-currentPassword" >
                    <h5>There was an error in your request</h5>
                </div>
                <div class="form-group">
                    <label for="password">Enter Current Password</label>
                    <h6 class="error"></h6>
                    <input type="password" id="current-password" class="form-control" placeholder="Type current password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title=" Password must have at least a capital letter, a small letter, a number and a symbol and must be at least 8 characters long." required>
                </div>
                <div class="form-group">
                    <label for="password">Type New Password</label>
                    <h6 class="error"></h6>
                    <input data-val-type="newPassword" id="new-password" type="password" class="form-control"
                        placeholder="Type New Password"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title=" Password must have at least a capital letter, a small letter, a number and a symbol and must be at least 8 characters long." required
                        >
                </div>
                <div class="form-group">
                    <label for="password">Confirm New Password</label>
                    <h6 class="error"></h6>
                    <input data-val-type="confirmNewPassword" id="confirm_password" type="password" class="form-control"
                        placeholder="Confirm new Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Password must have at least a capital letter, a small letter, a number and a symbol and must be at least 8 characters long." required>
                </div>
                <div class="" id="error" >
                    <h5>Passwords do not match</h5>
                  </div>
                <button type="submit" class="btn password-reset-btn btn-lg btn-block" id="resendPassBtn">Update
                    Password</button>
            </form>
        </div>


    </div>
    <script src="../js/bootstrap-js/popper.js"></script>
    <script src="../js/bootstrap-js/jquery.js"></script>
    <script src="../js/bootstrap-js/bootstrap.js"></script>
    <script src="../js/custom-js/updatePassword.js"></script>

</body>

</html>