<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../Templates/head') %>
    <link rel="stylesheet" href="../styles/custom-css/forgot-password.css">
</head>

<body class="pass_reset-page">
    <!-- NAV-BAR -->
    <%- include('../../Templates/header') %>

    <div class="container-fluid">
        <div class="form-center">
            <h1>Reset Password</h1>
            <p>For the safety of your account, please enter a strong password</p>
            <form>
                <div class="form-group">
                    <label for="password">Enter New Password</label>
                    <h6 class="error"></h6>
                    <input type="password" class="form-control" id="password" placeholder="type password">
                </div>
                <div class="form-group">
                    <label for="password">Retype New Password</label>
                    <h6 class="error"></h6>
                    <input data-val-type="confirmPassword" type="password" class="form-control"
                        placeholder="retype password">
                </div>
                <button type="button" class="btn password-reset-btn btn-lg btn-block" id="resendPassBtn">Reset
                    Password</button>
            </form>
        </div>
    </div>
    <script src="../js/bootstrap-js/popper.js"></script>
    <script src="../js/bootstrap-js/jquery.js"></script>
    <script src="../js/bootstrap-js/bootstrap.js"></script>
    <script src="../js/custom-js/forgot-password.js"></script>
</body>

</html>