<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../Templates/head') %>
    <link rel="stylesheet" href="../styles/custom-css/forgot-password.css">
</head>

<body class="pass_page">
    <!-- NAV-BAR -->
    <%- include('../../Templates/header') %>
    
    <div class="container-fluid">
        <div class="form-center">
            <h1>Forgotten your password?</h1>
            <p>Enter the information required below</p>
            <form id="forgot-password">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <h6 class="error"></h6>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="your email">
                </div>
                <button type="button" class="btn password-reset-btn btn-lg btn-block" id="otpBtn">Reset</button>
            </form>
        </div>
    </div>

    <%- include('../../Templates/footer') %>
    <script src="../js/custom-js/forgot-password.js"></script>
</body>

</html>